In [2]:
import pandas as pd

pd.options.display.max_columns = 100

df = pd.read_csv('data/train.csv', index_col='card_id')
df.head()

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0.0,0.0,0.0,cat_0,107,107,45,cat_9,cat_7,46,6746.987952,7159.090909,6746.987952,7159.090909,6746.987952,7159.090909,6746.987952,7159.090909,6666.666667,6571.428571,0.88,0.78,193.0,2851.0,2,0.0,0.0,0.0,0.0,7.0,10.0,12.0,19.0,87,0,0,1,1,3,3,10,4,0,0,5,1,0,0,0,0,0.82,1.0,3.0,0.57,0.64,0.7,NaN,NaN,0.00,0.00,0.57,0.88,NaN,0.00,0.77,0.49,0.53,0.91,0.99,NaN,510.023518,NaN,0,0,0,3
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2.0,0.0,3.0,cat_1,9,9,1,cat_8,cat_9,47,7469.879518,7500.000000,7469.879518,7500.000000,7469.879518,7500.000000,7469.879518,7500.000000,7948.717949,7714.285714,0.77,0.70,73.0,4288.0,1,0.0,0.0,0.0,58.0,19.0,28.0,31.0,43.0,94,1,0,1,1,2,2,5,0,0,0,0,0,0,0,0,0,0.93,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0.0,0.0,0.0,cat_0,109,109,109,cat_9,cat_10,44,7831.325301,8068.181818,7831.325301,8068.181818,7831.325301,8068.181818,7831.325301,8068.181818,5384.615385,5142.857143,0.51,0.00,242.0,1852.0,1,0.0,0.0,0.0,30.0,6.0,6.0,11.0,20.0,31,0,0,1,1,2,1,2,0,0,0,0,0,0,0,0,0,0.00,0.0,2.0,0.53,0.50,0.6,NaN,NaN,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.99,0.97,262.654250,359.0,2,4,71,4
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0.0,0.0,0.0,cat_0,66,66,66,cat_9,cat_7,27,6746.987952,6704.545455,6746.987952,6704.545455,6746.987952,6704.545455,6746.987952,6704.545455,3076.923077,1714.285714,0.28,0.57,868.0,868.0,1,0.0,0.0,0.0,366.0,0.0,0.0,0.0,0.0,8,0,1,0,0,2,0,4,0,0,0,3,0,0,0,1,1,0.92,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0.0,0.0,0.0,cat_0,16,16,16,cat_9,cat_13,42,7228.915663,7272.727273,7228.915663,7272.727273,7228.915663,7272.727273,7228.915663,7272.727273,4102.564103,3142.857143,0.28,0.00,1525.0,1525.0,1,0.0,0.0,0.0,26.0,4.0,7.0,8.0,15.0,33,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0.00,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7

In [5]:
df.iloc[0].to_dict()

{'target': 1,
 'delivery_type': 'cat_1',
 'addr_region_reg': 107,
 'addr_region_fact': 107,
 'channel_name': 'cat_0',
 'channel_name_2': 'cat_3',
 'channel_name_modified_2018': 'cat_0',
 'sas_limit_after_003_amt': 1,
 'sas_limit_last_amt': 1,
 'clnt_education_name': 'cat_1',
 'clnt_marital_status_name': 'cat_4',
 'clnt_employment_type_name': 'cat_0',
 'clnt_speciality_sphere_name': 'cat_0',
 'clnt_income_month_avg_net_amt': 3,
 'clnt_expense_month_avg_amt': 0,
 'clnt_experience_cur_mnth': 0.0,
 'clnt_experience_cur_year': 0.0,
 'clnt_experience_total_mnth': 0.0,
 'clnt_sex_name': 'cat_0',
 'app_addr_region_reg': 107,
 'app_addr_region_fact': 107,
 'app_addr_region_sale': 45,
 'prt_name': 'cat_9',
 'feature_0': 'cat_7',
 'clnt_birth_year': 46,
 'addr_region_fact_encoding1': 6746.987951807228,
 'addr_region_fact_encoding2': 7159.090909090912,
 'addr_region_reg_encoding1': 6746.987951807228,
 'addr_region_reg_encoding2': 7159.090909090912,
 'app_addr_region_reg_encoding1': 6746.987951807228,
 'app_addr_region_reg_encoding2': 7159.090909090912,
 'app_addr_region_fact_encoding1': 6746.987951807228,
 'app_addr_region_fact_encoding2': 7159.090909090912,
 'app_addr_region_sale_encoding1': 6666.666666666665,
 'app_addr_region_sale_encoding2': 6571.428571428574,
 'loans_main_borrower': 0.88,
 'loans_active': 0.78,
 'last_loan_date': 193.0,
 'first_loan_date': 2851.0,
 'max_overdue_status': 2,
 'ttl_officials': 0.0,
 'ttl_legals': 0.0,
 'ttl_bankruptcies': 0.0,
 'inquiry_recent_period': 0.0,
 'inquiry_3_month': 7.0,
 'inquiry_6_month': 10.0,
 'inquiry_9_month': 12.0,
 'inquiry_12_month': 19.0,
 'ttl_inquiries': 87,
 'ttl_auto_loan': 0,
 'ttl_mortgage': 0,
 'ttl_credit_card': 1,
 'ttl_consumer': 1,
 'worst_status_ever': 3,
 'feature_1': 3,
 'feature_2': 10,
 'feature_3': 4,
 'feature_4': 0,
 'feature_5': 0,
 'feature_6': 5,
 'feature_7': 1,
 'feature_8': 0,
 'feature_9': 0,
 'fl_coborrower': 0,
 'fl_active_coborrower': 0,
 'pay_load': 0.8200000000000001,
 'inquiry_1_week': 1.0,
 'inquiry_1_month': 3.0,
 'feature_10': 0.5700000000000001,
 'feature_12': 0.64,
 'feature_13': 0.7000000000000001,
 'feature_14': nan,
 'feature_15': nan,
 'feature_16': 0.0,
 'feature_17': 0.0,
 'feature_18': 0.5700000000000001,
 'feature_19': 0.88,
 'feature_20': nan,
 'feature_21': 0.0,
 'feature_22': 0.77,
 'feature_23': 0.49,
 'feature_24': 0.53,
 'feature_25': 0.91,
 'feature_26': 0.99,
 'feature_27': nan,
 'feature_28': 510.0235182746074,
 'feature_29': nan,
 'makro_region': 0,
 'fo': 0,
 'region': 0,
 'feature_30': 3}

In [ ]:
'delivery_type': 'category',
    'addr_region_reg': 'category',
    'addr_region_fact': 'category',
    'channel_name': 'category',
    'channel_name_2': 'category',
    'sas_limit_after_003_amt': 'uint8',
    'sas_limit_last_amt': 'uint8',
    'channel_name_modified_2018': 'category',
    'clnt_education_name': 'category',
    'clnt_marital_status_name': 'category',
    'clnt_employment_type_name': 'category',
    'clnt_speciality_sphere_name': 'category',
    'clnt_sex_name': 'category',
    'prt_name': 'category',
    'feature_0': 'category',

In [18]:
df['feature_10'].fillna(-1).corr(df['target'])

-0.05454141317938165

In [11]:
df['last_loan_date'].max() + 1

6169.0

In [6]:
for col in df.columns:
    print(col)
    print('-' * len(col))
    print('#unique', df[col].nunique())
    print('#missing', df[col].isnull().sum())
    print()
    print(df[col].head(5))
    print()
    print()

target
------
#unique 2
#missing 0

card_id
cid_10620     1
cid_105724    0
cid_101410    1
cid_38961     0
cid_57462     0
Name: target, dtype: int64


delivery_type
-------------
#unique 3
#missing 0

card_id
cid_10620     cat_1
cid_105724    cat_1
cid_101410    cat_1
cid_38961     cat_1
cid_57462     cat_1
Name: delivery_type, dtype: object


addr_region_reg
---------------
#unique 87
#missing 0

card_id
cid_10620     107
cid_105724      9
cid_101410    109
cid_38961      66
cid_57462      16
Name: addr_region_reg, dtype: int64


addr_region_fact
----------------
#unique 75
#missing 0

card_id
cid_10620     107
cid_105724      9
cid_101410    109
cid_38961      66
cid_57462      16
Name: addr_region_fact, dtype: int64


channel_name
------------
#unique 7
#missing 0

card_id
cid_10620     cat_0
cid_105724    cat_2
cid_101410    cat_0
cid_38961     cat_0
cid_57462     cat_0
Name: channel_name, dtype: object


channel_name_2
--------------
#unique 6
#missing 0

card_id
cid_10620     cat_3
cid_105724    cat_5
cid_101410    cat_3
cid_38961     cat_3
cid_57462     cat_3
Name: channel_name_2, dtype: object


channel_name_modified_2018
--------------------------
#unique 5
#missing 0

card_id
cid_10620     cat_0
cid_105724    cat_2
cid_101410    cat_0
cid_38961     cat_0
cid_57462     cat_0
Name: channel_name_modified_2018, dtype: object


sas_limit_after_003_amt
-----------------------
#unique 16
#missing 0

card_id
cid_10620     1
cid_105724    3
cid_101410    1
cid_38961     3
cid_57462     0
Name: sas_limit_after_003_amt, dtype: int64


sas_limit_last_amt
------------------
#unique 16
#missing 0

card_id
cid_10620     1
cid_105724    3
cid_101410    1
cid_38961     3
cid_57462     0
Name: sas_limit_last_amt, dtype: int64


clnt_education_name
-------------------
#unique 7
#missing 0

card_id
cid_10620     cat_1
cid_105724    cat_1
cid_101410    cat_1
cid_38961     cat_1
cid_57462     cat_4
Name: clnt_education_name, dtype: object


clnt_marital_status_name
------------------------
#unique 5
#missing 0

card_id
cid_10620     cat_4
cid_105724    cat_2
cid_101410    cat_2
cid_38961     cat_2
cid_57462     cat_2
Name: clnt_marital_status_name, dtype: object


clnt_employment_type_name
-------------------------
#unique 5
#missing 0

card_id
cid_10620     cat_0
cid_105724    cat_3
cid_101410    cat_3
cid_38961     cat_3
cid_57462     cat_3
Name: clnt_employment_type_name, dtype: object


clnt_speciality_sphere_name
---------------------------
#unique 29
#missing 0

card_id
cid_10620      cat_0
cid_105724    cat_26
cid_101410    cat_15
cid_38961     cat_14
cid_57462     cat_24
Name: clnt_speciality_sphere_name, dtype: object


clnt_income_month_avg_net_amt
-----------------------------
#unique 16
#missing 0

card_id
cid_10620     3
cid_105724    5
cid_101410    2
cid_38961     2
cid_57462     3
Name: clnt_income_month_avg_net_amt, dtype: int64


clnt_expense_month_avg_amt
--------------------------
#unique 16
#missing 0

card_id
cid_10620     0
cid_105724    1
cid_101410    0
cid_38961     1
cid_57462     0
Name: clnt_expense_month_avg_amt, dtype: int64


clnt_experience_cur_mnth
------------------------
#unique 10
#missing 695

card_id
cid_10620     0.0
cid_105724    2.0
cid_101410    0.0
cid_38961     0.0
cid_57462     0.0
Name: clnt_experience_cur_mnth, dtype: float64


clnt_experience_cur_year
------------------------
#unique 2
#missing 695

card_id
cid_10620     0.0
cid_105724    0.0
cid_101410    0.0
cid_38961     0.0
cid_57462     0.0
Name: clnt_experience_cur_year, dtype: float64


clnt_experience_total_mnth
--------------------------
#unique 8
#missing 0

card_id
cid_10620     0.0
cid_105724    3.0
cid_101410    0.0
cid_38961     0.0
cid_57462     0.0
Name: clnt_experience_total_mnth, dtype: float64


clnt_sex_name
-------------
#unique 2
#missing 0

card_id
cid_10620     cat_0
cid_105724    cat_1
cid_101410    cat_0
cid_38961     cat_0
cid_57462     cat_0
Name: clnt_sex_name, dtype: object


app_addr_region_reg
-------------------
#unique 89
#missing 0

card_id
cid_10620     107
cid_105724      9
cid_101410    109
cid_38961      66
cid_57462      16
Name: app_addr_region_reg, dtype: int64


app_addr_region_fact
--------------------
#unique 74
#missing 0

card_id
cid_10620     107
cid_105724      9
cid_101410    109
cid_38961      66
cid_57462      16
Name: app_addr_region_fact, dtype: int64


app_addr_region_sale
--------------------
#unique 29
#missing 0

card_id
cid_10620      45
cid_105724      1
cid_101410    109
cid_38961      66
cid_57462      16
Name: app_addr_region_sale, dtype: int64


prt_name
--------
#unique 10
#missing 0

card_id
cid_10620     cat_9
cid_105724    cat_8
cid_101410    cat_9
cid_38961     cat_9
cid_57462     cat_9
Name: prt_name, dtype: object


feature_0
---------
#unique 13
#missing 0

card_id
cid_10620      cat_7
cid_105724     cat_9
cid_101410    cat_10
cid_38961      cat_7
cid_57462     cat_13
Name: feature_0, dtype: object


clnt_birth_year
---------------
#unique 53
#missing 0

card_id
cid_10620     46
cid_105724    47
cid_101410    44
cid_38961     27
cid_57462     42
Name: clnt_birth_year, dtype: int64


addr_region_fact_encoding1
--------------------------
#unique 35
#missing 0

card_id
cid_10620     6746.987952
cid_105724    7469.879518
cid_101410    7831.325301
cid_38961     6746.987952
cid_57462     7228.915663
Name: addr_region_fact_encoding1, dtype: float64


addr_region_fact_encoding2
--------------------------
#unique 39
#missing 0

card_id
cid_10620     7159.090909
cid_105724    7500.000000
cid_101410    8068.181818
cid_38961     6704.545455
cid_57462     7272.727273
Name: addr_region_fact_encoding2, dtype: float64


addr_region_reg_encoding1
-------------------------
#unique 35
#missing 0

card_id
cid_10620     6746.987952
cid_105724    7469.879518
cid_101410    7831.325301
cid_38961     6746.987952
cid_57462     7228.915663
Name: addr_region_reg_encoding1, dtype: float64


addr_region_reg_encoding2
-------------------------
#unique 41
#missing 0

card_id
cid_10620     7159.090909
cid_105724    7500.000000
cid_101410    8068.181818
cid_38961     6704.545455
cid_57462     7272.727273
Name: addr_region_reg_encoding2, dtype: float64


app_addr_region_reg_encoding1
-----------------------------
#unique 35
#missing 0

card_id
cid_10620     6746.987952
cid_105724    7469.879518
cid_101410    7831.325301
cid_38961     6746.987952
cid_57462     7228.915663
Name: app_addr_region_reg_encoding1, dtype: float64


app_addr_region_reg_encoding2
-----------------------------
#unique 41
#missing 0

card_id
cid_10620     7159.090909
cid_105724    7500.000000
cid_101410    8068.181818
cid_38961     6704.545455
cid_57462     7272.727273
Name: app_addr_region_reg_encoding2, dtype: float64


app_addr_region_fact_encoding1
------------------------------
#unique 35
#missing 0

card_id
cid_10620     6746.987952
cid_105724    7469.879518
cid_101410    7831.325301
cid_38961     6746.987952
cid_57462     7228.915663
Name: app_addr_region_fact_encoding1, dtype: float64


app_addr_region_fact_encoding2
------------------------------
#unique 39
#missing 0

card_id
cid_10620     7159.090909
cid_105724    7500.000000
cid_101410    8068.181818
cid_38961     6704.545455
cid_57462     7272.727273
Name: app_addr_region_fact_encoding2, dtype: float64


app_addr_region_sale_encoding1
------------------------------
#unique 20
#missing 0

card_id
cid_10620     6666.666667
cid_105724    7948.717949
cid_101410    5384.615385
cid_38961     3076.923077
cid_57462     4102.564103
Name: app_addr_region_sale_encoding1, dtype: float64


app_addr_region_sale_encoding2
------------------------------
#unique 20
#missing 0

card_id
cid_10620     6571.428571
cid_105724    7714.285714
cid_101410    5142.857143
cid_38961     1714.285714
cid_57462     3142.857143
Name: app_addr_region_sale_encoding2, dtype: float64


loans_main_borrower
-------------------
#unique 29
#missing 0

card_id
cid_10620     0.88
cid_105724    0.77
cid_101410    0.51
cid_38961     0.28
cid_57462     0.28
Name: loans_main_borrower, dtype: float64


loans_active
------------
#unique 9
#missing 0

card_id
cid_10620     0.78
cid_105724    0.70
cid_101410    0.00
cid_38961     0.57
cid_57462     0.00
Name: loans_active, dtype: float64


last_loan_date
--------------
#unique 3700
#missing 56

card_id
cid_10620      193.0
cid_105724      73.0
cid_101410     242.0
cid_38961      868.0
cid_57462     1525.0
Name: last_loan_date, dtype: float64


first_loan_date
---------------
#unique 5352
#missing 56

card_id
cid_10620     2851.0
cid_105724    4288.0
cid_101410    1852.0
cid_38961      868.0
cid_57462     1525.0
Name: first_loan_date, dtype: float64


max_overdue_status
------------------
#unique 5
#missing 0

card_id
cid_10620     2
cid_105724    1
cid_101410    1
cid_38961     1
cid_57462     1
Name: max_overdue_status, dtype: int64


ttl_officials
-------------
#unique 22
#missing 233

card_id
cid_10620     0.0
cid_105724    0.0
cid_101410    0.0
cid_38961     0.0
cid_57462     0.0
Name: ttl_officials, dtype: float64


ttl_legals
----------
#unique 5
#missing 219

card_id
cid_10620     0.0
cid_105724    0.0
cid_101410    0.0
cid_38961     0.0
cid_57462     0.0
Name: ttl_legals, dtype: float64


ttl_bankruptcies
----------------
#unique 1
#missing 216

card_id
cid_10620     0.0
cid_105724    0.0
cid_101410    0.0
cid_38961     0.0
cid_57462     0.0
Name: ttl_bankruptcies, dtype: float64


inquiry_recent_period
---------------------
#unique 620
#missing 336

card_id
cid_10620       0.0
cid_105724     58.0
cid_101410     30.0
cid_38961     366.0
cid_57462      26.0
Name: inquiry_recent_period, dtype: float64


inquiry_3_month
---------------
#unique 60
#missing 361

card_id
cid_10620      7.0
cid_105724    19.0
cid_101410     6.0
cid_38961      0.0
cid_57462      4.0
Name: inquiry_3_month, dtype: float64


inquiry_6_month
---------------
#unique 76
#missing 320

card_id
cid_10620     10.0
cid_105724    28.0
cid_101410     6.0
cid_38961      0.0
cid_57462      7.0
Name: inquiry_6_month, dtype: float64


inquiry_9_month
---------------
#unique 83
#missing 308

card_id
cid_10620     12.0
cid_105724    31.0
cid_101410    11.0
cid_38961      0.0
cid_57462      8.0
Name: inquiry_9_month, dtype: float64


inquiry_12_month
----------------
#unique 136
#missing 286

card_id
cid_10620     19.0
cid_105724    43.0
cid_101410    20.0
cid_38961      0.0
cid_57462     15.0
Name: inquiry_12_month, dtype: float64


ttl_inquiries
-------------
#unique 302
#missing 0

card_id
cid_10620     87
cid_105724    94
cid_101410    31
cid_38961      8
cid_57462     33
Name: ttl_inquiries, dtype: int64


ttl_auto_loan
-------------
#unique 2
#missing 0

card_id
cid_10620     0
cid_105724    1
cid_101410    0
cid_38961     0
cid_57462     0
Name: ttl_auto_loan, dtype: int64


ttl_mortgage
------------
#unique 2
#missing 0

card_id
cid_10620     0
cid_105724    0
cid_101410    0
cid_38961     1
cid_57462     0
Name: ttl_mortgage, dtype: int64


ttl_credit_card
---------------
#unique 2
#missing 0

card_id
cid_10620     1
cid_105724    1
cid_101410    1
cid_38961     0
cid_57462     1
Name: ttl_credit_card, dtype: int64


ttl_consumer
------------
#unique 2
#missing 0

card_id
cid_10620     1
cid_105724    1
cid_101410    1
cid_38961     0
cid_57462     0
Name: ttl_consumer, dtype: int64


worst_status_ever
-----------------
#unique 5
#missing 0

card_id
cid_10620     3
cid_105724    2
cid_101410    2
cid_38961     2
cid_57462     1
Name: worst_status_ever, dtype: int64


feature_1
---------
#unique 11
#missing 0

card_id
cid_10620     3
cid_105724    2
cid_101410    1
cid_38961     0
cid_57462     0
Name: feature_1, dtype: int64


feature_2
---------
#unique 11
#missing 0

card_id
cid_10620     10
cid_105724     5
cid_101410     2
cid_38961      4
cid_57462      0
Name: feature_2, dtype: int64


feature_3
---------
#unique 11
#missing 0

card_id
cid_10620     4
cid_105724    0
cid_101410    0
cid_38961     0
cid_57462     0
Name: feature_3, dtype: int64


feature_4
---------
#unique 11
#missing 0

card_id
cid_10620     0
cid_105724    0
cid_101410    0
cid_38961     0
cid_57462     0
Name: feature_4, dtype: int64


feature_5
---------
#unique 11
#missing 0

card_id
cid_10620     0
cid_105724    0
cid_101410    0
cid_38961     0
cid_57462     0
Name: feature_5, dtype: int64


feature_6
---------
#unique 11
#missing 0

card_id
cid_10620     5
cid_105724    0
cid_101410    0
cid_38961     3
cid_57462     0
Name: feature_6, dtype: int64


feature_7
---------
#unique 11
#missing 0

card_id
cid_10620     1
cid_105724    0
cid_101410    0
cid_38961     0
cid_57462     0
Name: feature_7, dtype: int64


feature_8
---------
#unique 6
#missing 0

card_id
cid_10620     0
cid_105724    0
cid_101410    0
cid_38961     0
cid_57462     0
Name: feature_8, dtype: int64


feature_9
---------
#unique 11
#missing 0

card_id
cid_10620     0
cid_105724    0
cid_101410    0
cid_38961     0
cid_57462     0
Name: feature_9, dtype: int64


fl_coborrower
-------------
#unique 2
#missing 0

card_id
cid_10620     0
cid_105724    0
cid_101410    0
cid_38961     1
cid_57462     0
Name: fl_coborrower, dtype: int64


fl_active_coborrower
--------------------
#unique 2
#missing 0

card_id
cid_10620     0
cid_105724    0
cid_101410    0
cid_38961     1
cid_57462     0
Name: fl_active_coborrower, dtype: int64


pay_load
--------
#unique 48
#missing 0

card_id
cid_10620     0.82
cid_105724    0.93
cid_101410    0.00
cid_38961     0.92
cid_57462     0.00
Name: pay_load, dtype: float64


inquiry_1_week
--------------
#unique 33
#missing 465

card_id
cid_10620     1.0
cid_105724    0.0
cid_101410    0.0
cid_38961     0.0
cid_57462     0.0
Name: inquiry_1_week, dtype: float64


inquiry_1_month
---------------
#unique 40
#missing 424

card_id
cid_10620     3.0
cid_105724    0.0
cid_101410    2.0
cid_38961     0.0
cid_57462     3.0
Name: inquiry_1_month, dtype: float64


feature_10
----------
#unique 100
#missing 72392

card_id
cid_10620     0.57
cid_105724     NaN
cid_101410    0.53
cid_38961      NaN
cid_57462      NaN
Name: feature_10, dtype: float64


feature_12
----------
#unique 100
#missing 72392

card_id
cid_10620     0.64
cid_105724     NaN
cid_101410    0.50
cid_38961      NaN
cid_57462      NaN
Name: feature_12, dtype: float64


feature_13
----------
#unique 45
#missing 72392

card_id
cid_10620     0.7
cid_105724    NaN
cid_101410    0.6
cid_38961     NaN
cid_57462     NaN
Name: feature_13, dtype: float64


feature_14
----------
#unique 100
#missing 79674

card_id
cid_10620    NaN
cid_105724   NaN
cid_101410   NaN
cid_38961    NaN
cid_57462    NaN
Name: feature_14, dtype: float64


feature_15
----------
#unique 99
#missing 79674

card_id
cid_10620    NaN
cid_105724   NaN
cid_101410   NaN
cid_38961    NaN
cid_57462    NaN
Name: feature_15, dtype: float64


feature_16
----------
#unique 100
#missing 72423

card_id
cid_10620     0.00
cid_105724     NaN
cid_101410    0.34
cid_38961      NaN
cid_57462      NaN
Name: feature_16, dtype: float64


feature_17
----------
#unique 100
#missing 72669

card_id
cid_10620     0.00
cid_105724     NaN
cid_101410    0.56
cid_38961      NaN
cid_57462      NaN
Name: feature_17, dtype: float64


feature_18
----------
#unique 100
#missing 73516

card_id
cid_10620     0.57
cid_105724     NaN
cid_101410    0.53
cid_38961      NaN
cid_57462      NaN
Name: feature_18, dtype: float64


feature_19
----------
#unique 58
#missing 72392

card_id
cid_10620     0.88
cid_105724     NaN
cid_101410    0.87
cid_38961      NaN
cid_57462      NaN
Name: feature_19, dtype: float64


feature_20
----------
#unique 44
#missing 76669

card_id
cid_10620     NaN
cid_105724    NaN
cid_101410    0.6
cid_38961     NaN
cid_57462     NaN
Name: feature_20, dtype: float64


feature_21
----------
#unique 61
#missing 72392

card_id
cid_10620     0.00
cid_105724     NaN
cid_101410    0.85
cid_38961      NaN
cid_57462      NaN
Name: feature_21, dtype: float64


feature_22
----------
#unique 100
#missing 72392

card_id
cid_10620     0.77
cid_105724     NaN
cid_101410    0.75
cid_38961      NaN
cid_57462      NaN
Name: feature_22, dtype: float64


feature_23
----------
#unique 100
#missing 72392

card_id
cid_10620     0.49
cid_105724     NaN
cid_101410    0.77
cid_38961      NaN
cid_57462      NaN
Name: feature_23, dtype: float64


feature_24
----------
#unique 100
#missing 72392

card_id
cid_10620     0.53
cid_105724     NaN
cid_101410    0.70
cid_38961      NaN
cid_57462      NaN
Name: feature_24, dtype: float64


feature_25
----------
#unique 28
#missing 72392

card_id
cid_10620     0.91
cid_105724     NaN
cid_101410    0.89
cid_38961      NaN
cid_57462      NaN
Name: feature_25, dtype: float64


feature_26
----------
#unique 3
#missing 72392

card_id
cid_10620     0.99
cid_105724     NaN
cid_101410    0.99
cid_38961      NaN
cid_57462      NaN
Name: feature_26, dtype: float64


feature_27
----------
#unique 100
#missing 77793

card_id
cid_10620      NaN
cid_105724     NaN
cid_101410    0.97
cid_38961      NaN
cid_57462      NaN
Name: feature_27, dtype: float64


feature_28
----------
#unique 17608
#missing 72392

card_id
cid_10620     510.023518
cid_105724           NaN
cid_101410    262.654250
cid_38961            NaN
cid_57462            NaN
Name: feature_28, dtype: float64


feature_29
----------
#unique 1540
#missing 52360

card_id
cid_10620       NaN
cid_105724      NaN
cid_101410    359.0
cid_38961       NaN
cid_57462       NaN
Name: feature_29, dtype: float64


makro_region
------------
#unique 13
#missing 0

card_id
cid_10620     0
cid_105724    0
cid_101410    2
cid_38961     0
cid_57462     0
Name: makro_region, dtype: int64


fo
--
#unique 11
#missing 0

card_id
cid_10620     0
cid_105724    0
cid_101410    4
cid_38961     0
cid_57462     0
Name: fo, dtype: int64


region
------
#unique 86
#missing 0

card_id
cid_10620      0
cid_105724     0
cid_101410    71
cid_38961      0
cid_57462      0
Name: region, dtype: int64


feature_30
----------
#unique 8
#missing 0

card_id
cid_10620     3
cid_105724    7
cid_101410    4
cid_38961     7
cid_57462     7
Name: feature_30, dtype: int64