# Solution

## Data loading

In [1]:
import pandas as pd

pd.options.display.max_columns = 100

dtypes = {
    'delivery_type': 'category',
    'addr_region_reg': 'category',
    'addr_region_fact': 'category',
    'channel_name': 'category',
    'channel_name_2': 'category',
    'sas_limit_after_003_amt': 'uint8',
    'sas_limit_last_amt': 'uint8',
    'channel_name_modified_2018': 'category',
    'clnt_education_name': 'category',
    'clnt_marital_status_name': 'category',
    'clnt_employment_type_name': 'category',
    'clnt_speciality_sphere_name': 'category',
    'clnt_sex_name': 'category',
    'prt_name': 'category',
    'clnt_income_month_avg_net_amt': 'uint',
    'clnt_expense_month_avg_amt': 'uint',
    'app_addr_region_reg': 'category',
    'app_addr_region_fact': 'category',
    'app_addr_region_sale': 'category',
    'prt_name': 'category',
    'feature_0': 'category',
    'clnt_birth_year': 'uint',
    'addr_region_fact_encoding1': 'float32',
    'addr_region_fact_encoding2': 'float32',
    'addr_region_reg_encoding1': 'float32',
    'addr_region_reg_encoding2': 'float32',
    'app_addr_region_reg_encoding1': 'float32',
    'app_addr_region_reg_encoding2': 'float32',
    'app_addr_region_fact_encoding1': 'float32',
    'app_addr_region_fact_encoding2': 'float32',
    'app_addr_region_sale_encoding1': 'float32',
    'app_addr_region_sale_encoding2': 'float32',
    'loans_main_borrower': 'float32',
    'loans_active': 'float32',
    'max_overdue_status': 'category',
    'ttl_inquiries': 'uint',
    'ttl_auto_loan': 'bool',
    'ttl_mortgage': 'bool',
    'ttl_credit_card': 'bool',
    'ttl_consumer': 'bool',
    'worst_status_ever': 'category',
    'feature_0': 'category',
    'feature_1': 'uint',
    'feature_2': 'uint',
    'feature_3': 'uint',
    'feature_4': 'uint',
    'feature_5': 'uint',
    'feature_6': 'uint',
    'feature_7': 'uint',
    'fl_coborrower': 'bool',
    'fl_active_coborrower': 'bool',
    'pay_load': 'float32',
    'makro_region': 'category',
    'fo': 'category',
    'region': 'category',
    'feature_30': 'category'
}

fill_missing = [
    ('inquiry_recent_period', 0, 'uint'),
    ('inquiry_1_week', 0, 'uint'),
    ('clnt_experience_cur_mnth', 0, 'uint'),
    ('clnt_experience_total_mnth', 0, 'uint'),
    ('last_loan_date', 6200, 'uint'),
    ('first_loan_date', 6200, 'uint'),
    ('inquiry_recent_period', 0, 'uint'),
    ('inquiry_3_month', 0, 'uint'),
    ('inquiry_6_month', 0, 'uint'),
    ('inquiry_9_month', 0, 'uint'),
    ('inquiry_12_month', 0, 'uint'),
    ('inquiry_1_week', 0, 'uint'),
    ('inquiry_1_month', 0, 'uint'),
]

cols_to_use = (
    list(dtypes.keys()) +
    list(col for col, *_ in fill_missing) + 
    ['card_id', 'target']
)

df = pd.read_csv('data/train.csv', index_col='card_id', dtype=dtypes, usecols=cols_to_use)

df['n_missing'] = df.isnull().sum(axis='columns')

for col, fill, dtype in fill_missing:
    df[col] = df[col].fillna(fill).astype(dtype)

df.head()

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,makro_region,fo,region,feature_30,n_missing
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,False,False,0.82,1,3,0,0,0,3,0
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,False,False,0.93,0,0,0,0,0,7,0
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,False,False,0.00,0,2,2,4,71,4,0
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,True,True,0.92,0,0,0,0,0,7,0
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,False,False,0.00,0,3,0,0,0,7,0

In [2]:
df.shape

(90000, 67)

## Feature extraction

In [3]:
class MeanEncoder:
    
    def __init__(self, df, on, by, prior_count=100):
        self.on = on
        self.by = by
        counts = df.groupby(by)[on].agg(['mean', 'count'])
        avg = df[on].mean()
        self.means = (
            counts
            .eval('(mean * count + @avg * @prior_count) / (count + @prior_count)')
            .rename(str(self))
        )
    
    def __str__(self):
        return f'avg_{self.on}_by_{self.by}'
        
    def transform(self, df):
        return df.join(self.means, on=self.by)[self.means.name]

In [4]:
class CountEncoder:
    
    def __init__(self, df, on):
        self.on = on
        self.counts = df.groupby(on).size().rename(str(self))
    
    def __str__(self):
        return f'{self.on}_size'
        
    def transform(self, df):
        return df.join(self.counts, on=self.on)[self.counts.name]

In [5]:
extractors = [
    MeanEncoder(df, on='target', by='addr_region_fact'),
    CountEncoder(df, 'app_addr_region_sale_encoding1'),
    CountEncoder(df, 'app_addr_region_sale_encoding2'),
    CountEncoder(df, 'addr_region_fact'),
    CountEncoder(df, 'inquiry_recent_period'),
    MeanEncoder(df, on='target', by='prt_name')
]

In [6]:
features = []

for ex in extractors:
    print(str(ex))
    features.append(ex.transform(df)) 
    
train = pd.concat([df] + features, axis='columns')
train.head()

avg_target_by_addr_region_fact
app_addr_region_sale_encoding1_size
app_addr_region_sale_encoding2_size
addr_region_fact_size
inquiry_recent_period_size
avg_target_by_prt_name

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,makro_region,fo,region,feature_30,n_missing,avg_target_by_addr_region_fact,app_addr_region_sale_encoding1_size,app_addr_region_sale_encoding2_size,addr_region_fact_size,inquiry_recent_period_size,avg_target_by_prt_name
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,False,False,0.82,1,3,0,0,0,3,0,0.662549,1626,1626,1136,30652,0.437674
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,False,False,0.93,0,0,0,0,0,7,0,0.498339,54906,54906,1760,228,0.651928
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,False,False,0.00,0,2,2,4,71,4,0,0.434518,2020,2089,3681,3794,0.437674
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,True,True,0.92,0,0,0,0,0,7,0,0.478198,1616,1592,2014,7355,0.437674
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,False,False,0.00,0,3,0,0,0,7,0,0.525827,6313,6800,5898,370,0.437674

## Learning

Separate features from target.

In [20]:
X = train.drop(columns='target')
y = train['target']
X.head()

,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,makro_region,fo,region,feature_30,n_missing,avg_target_by_addr_region_fact,app_addr_region_sale_encoding1_size,app_addr_region_sale_encoding2_size,addr_region_fact_size,inquiry_recent_period_size,avg_target_by_prt_name
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,False,False,0.82,1,3,0,0,0,3,0,0.662549,1626,1626,1136,30652,0.437674
cid_105724,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,False,False,0.93,0,0,0,0,0,7,0,0.498339,54906,54906,1760,228,0.651928
cid_101410,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,False,False,0.00,0,2,2,4,71,4,0,0.434518,2020,2089,3681,3794,0.437674
cid_38961,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,True,True,0.92,0,0,0,0,0,7,0,0.478198,1616,1592,2014,7355,0.437674
cid_57462,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,False,False,0.00,0,3,0,0,0,7,0,0.525827,6313,6800,5898,370,0.437674

In [21]:
y.head()

card_id
cid_10620     1
cid_105724    0
cid_101410    1
cid_38961     0
cid_57462     0
Name: target, dtype: int64

Train/test split.

In [23]:
from sklearn import model_selection

X_fit, X_val, y_fit, y_val = model_selection.train_test_split(
    X, y,
    test_size=.15,
    random_state=42,
    shuffle=True
)

LightGBM dance.

In [24]:
def cut_preds(preds):
    preds = preds.copy()
    quantile_inf = np.quantile(preds, .05)
    quantile_sup = np.quantile(preds, .95)
    preds[(quantile_inf < preds) & (preds < quantile_sup)] = 0.000000001
    return preds

In [25]:
import lightgbm as lgb

fit = lgb.Dataset(X_fit, y_fit)
val = lgb.Dataset(X_val, y_val, reference=fit)

model = lgb.train(
    params={
        'learning_rate': .007,
        'objective': 'binary',
        'metric': 'auc',
        'boost_from_average': True,
        'min_data_in_leaf': 100,
        'max_bin': 255,
        'num_leaves': 63,
        'min_data_per_group': 100,
        'bagging_frac': .8,
        'bagging_freq': 10,
        'cat_smooth': 10,
        'seed': 42
    },
    train_set=fit,
    num_boost_round=10_000,
    valid_sets=[fit, val],
    valid_names=['fit', 'val'],
    early_stopping_rounds=20,
    verbose_eval=100,
    
)

Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.752881	val's auc: 0.726252
[200]	fit's auc: 0.763088	val's auc: 0.732001
[300]	fit's auc: 0.772322	val's auc: 0.734892
[400]	fit's auc: 0.780923	val's auc: 0.737294
[500]	fit's auc: 0.789034	val's auc: 0.738767
[600]	fit's auc: 0.796628	val's auc: 0.739629
[700]	fit's auc: 0.803525	val's auc: 0.739939
[800]	fit's auc: 0.809884	val's auc: 0.740233
Early stopping, best iteration is:
[873]	fit's auc: 0.814199	val's auc: 0.740389

Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.747541	val's auc: 0.729377
[200]	fit's auc: 0.758108	val's auc: 0.736135
[300]	fit's auc: 0.767228	val's auc: 0.73973
[400]	fit's auc: 0.775532	val's auc: 0.742122
[500]	fit's auc: 0.783171	val's auc: 0.74302
[600]	fit's auc: 0.790449	val's auc: 0.743625
[700]	fit's auc: 0.796908	val's auc: 0.744135
[800]	fit's auc: 0.802945	val's auc: 0.744554
[900]	fit's auc: 0.808584	val's auc: 0.744797
Early stopping, best iteration is:
[894]	fit's auc: 0.80825	val's auc: 0.7448

In [19]:
import numpy as np
from sklearn import metrics

y_pred = cut_preds(model.predict(X_val))

def roc_auc_score_at_K(predicted_proba, target, rate=0.1):  
    order = np.argsort(-predicted_proba) 
    top_k = int(rate * len(predicted_proba)) 
    return metrics.roc_auc_score(target[order][:top_k], predicted_proba[order][:top_k]) 

val_score = roc_auc_score_at_K(y_pred, y_val)
val_score

0.8818200926457391

In [175]:
0.9045490510007579

0.9045490510007579

In [208]:
importances = model.feature_importance(importance_type='gain').astype(int)
print(pd.Series(importances, index=X_fit.columns).sort_values(ascending=False).head(30))

inquiry_recent_period_size       234639
avg_target_by_prt_name           210388
addr_region_fact                 134815
inquiry_1_week                   110165
addr_region_reg                  105660
clnt_speciality_sphere_name       97179
channel_name_2                    75756
sas_limit_last_amt                43880
app_addr_region_fact              42332
app_addr_region_reg               33386
ttl_inquiries                     32613
inquiry_recent_period             31602
inquiry_12_month                  29611
region                            28794
first_loan_date                   28772
app_addr_region_sale              28614
clnt_income_month_avg_net_amt     25403
clnt_birth_year                   24855
last_loan_date                    23394
prt_name                          20481
loans_active                      19588
channel_name                      18808
delivery_type                     18336
feature_6                         18018
feature_2                         17977
channel_name_modified_2018        14385
inquiry_3_month                   13053
inquiry_9_month                   12962
sas_limit_after_003_amt           11525
feature_0                          9838
dtype: int64

In [209]:
_ = model.save_model(f'track_2/model.lgb')

In [210]:
import joblib

!rm -f track_2/*.pkl

for ex in extractors:
    joblib.dump(ex, f'track_2/{ex}.pkl')