# Solution

In [16]:
import pandas as pd

df = pd.read_csv('data/train.csv', index_col='card_id')
df.head()

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0.0,0.0,0.0,cat_0,107,107,45,cat_9,cat_7,46,6746.987952,7159.090909,6746.987952,7159.090909,6746.987952,7159.090909,6746.987952,7159.090909,6666.666667,6571.428571,0.88,0.78,193.0,2851.0,2,0.0,0.0,0.0,0.0,7.0,10.0,12.0,19.0,87,0,0,1,1,3,3,10,4,0,0,5,1,0,0,0,0,0.82,1.0,3.0,0.57,0.64,0.7,NaN,NaN,0.00,0.00,0.57,0.88,NaN,0.00,0.77,0.49,0.53,0.91,0.99,NaN,510.023518,NaN,0,0,0,3
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2.0,0.0,3.0,cat_1,9,9,1,cat_8,cat_9,47,7469.879518,7500.000000,7469.879518,7500.000000,7469.879518,7500.000000,7469.879518,7500.000000,7948.717949,7714.285714,0.77,0.70,73.0,4288.0,1,0.0,0.0,0.0,58.0,19.0,28.0,31.0,43.0,94,1,0,1,1,2,2,5,0,0,0,0,0,0,0,0,0,0.93,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0.0,0.0,0.0,cat_0,109,109,109,cat_9,cat_10,44,7831.325301,8068.181818,7831.325301,8068.181818,7831.325301,8068.181818,7831.325301,8068.181818,5384.615385,5142.857143,0.51,0.00,242.0,1852.0,1,0.0,0.0,0.0,30.0,6.0,6.0,11.0,20.0,31,0,0,1,1,2,1,2,0,0,0,0,0,0,0,0,0,0.00,0.0,2.0,0.53,0.50,0.6,NaN,NaN,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.99,0.97,262.654250,359.0,2,4,71,4
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0.0,0.0,0.0,cat_0,66,66,66,cat_9,cat_7,27,6746.987952,6704.545455,6746.987952,6704.545455,6746.987952,6704.545455,6746.987952,6704.545455,3076.923077,1714.285714,0.28,0.57,868.0,868.0,1,0.0,0.0,0.0,366.0,0.0,0.0,0.0,0.0,8,0,1,0,0,2,0,4,0,0,0,3,0,0,0,1,1,0.92,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0.0,0.0,0.0,cat_0,16,16,16,cat_9,cat_13,42,7228.915663,7272.727273,7228.915663,7272.727273,7228.915663,7272.727273,7228.915663,7272.727273,4102.564103,3142.857143,0.28,0.00,1525.0,1525.0,1,0.0,0.0,0.0,26.0,4.0,7.0,8.0,15.0,33,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0.00,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7

In [28]:
col = 'inquiry_1_week'
print('#unique', df[col].nunique())
print('#missing', df[col].isnull().sum())
df[col].head(30)

#unique 33
#missing 465

card_id
cid_10620      1.0
cid_105724     0.0
cid_101410     0.0
cid_38961      0.0
cid_57462      0.0
cid_77651     20.0
cid_123151     6.0
cid_90894      0.0
cid_16038      0.0
cid_96186      1.0
cid_57243      2.0
cid_106740     0.0
cid_36010      2.0
cid_48523      0.0
cid_55649      2.0
cid_5413       4.0
cid_9724       0.0
cid_3633       0.0
cid_5348       0.0
cid_102800     0.0
cid_29520      9.0
cid_79081      0.0
cid_70476     15.0
cid_10433      0.0
cid_94504     13.0
cid_98534      0.0
cid_2283       0.0
cid_111839     1.0
cid_2892       1.0
cid_43666      0.0
Name: inquiry_1_week, dtype: float64

## Data loading

In [47]:
import pandas as pd

pd.options.display.max_columns = 100

dtypes = {
    'delivery_type': 'category',
    'addr_region_reg': 'category',
    'addr_region_fact': 'category',
    'channel_name': 'category',
    'channel_name_2': 'category',
    'sas_limit_after_003_amt': 'uint8',
    'sas_limit_last_amt': 'uint8',
    'channel_name_modified_2018': 'category',
    'clnt_education_name': 'category',
    'clnt_marital_status_name': 'category',
    'clnt_employment_type_name': 'category',
    'clnt_speciality_sphere_name': 'category',
    'clnt_sex_name': 'category',
    'prt_name': 'category',
    'feature_0': 'category',
}

fill_missing = [
    ('inquiry_recent_period', 0, 'uint'),
    ('inquiry_1_week', 0, 'uint')
]

cols_to_use = (
    list(dtypes.keys()) +
    list(col for col, *_ in fill_missing) + 
    ['card_id', 'target']
)

df = pd.read_csv('data/train.csv', index_col='card_id', dtype=dtypes, usecols=cols_to_use)

for col, fill, dtype in fill_missing:
    df[col] = df[col].fillna(fill).astype(dtype)

df.head()

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_sex_name,prt_name,feature_0,inquiry_recent_period,inquiry_1_week
card_id,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,cat_0,cat_9,cat_7,0,1
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,cat_1,cat_8,cat_9,58,0
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,cat_0,cat_9,cat_10,30,0
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,cat_0,cat_9,cat_7,366,0
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,cat_0,cat_9,cat_13,26,0

## Feature extraction

In [48]:
class MeanEncoder:
    
    def __init__(self, df, on, by, prior_count=100):
        self.on = on
        self.by = by
        counts = df.groupby(by)[on].agg(['mean', 'count'])
        avg = df[on].mean()
        self.means = (
            counts
            .eval('(mean * count + @avg * @prior_count) / (count + @prior_count)')
            .rename(str(self))
        )
    
    def __str__(self):
        return f'avg_{self.on}_by_{self.by}'
        
    def transform(self, df):
        return df.join(self.means, on=self.by)[self.means.name]

In [49]:
class NMissing:
    
    def __str__(self):
        return 'n_missing'
    
    def transform(self, df):
        return df.isnull().sum(axis='columns').rename(str(self))

In [50]:
extractors = [
    MeanEncoder(df, on='target', by='addr_region_fact'),
    NMissing()
]

In [51]:
features = []

for ex in extractors:
    print(str(ex))
    features.append(ex.transform(df)) 
    
train = pd.concat([df] + features, axis='columns')
train.head()

avg_target_by_addr_region_fact
n_missing

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_sex_name,prt_name,feature_0,inquiry_recent_period,inquiry_1_week,avg_target_by_addr_region_fact,n_missing
card_id,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,cat_0,cat_9,cat_7,0,1,0.662549,0
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,cat_1,cat_8,cat_9,58,0,0.498339,0
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,cat_0,cat_9,cat_10,30,0,0.434518,0
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,cat_0,cat_9,cat_7,366,0,0.478198,0
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,cat_0,cat_9,cat_13,26,0,0.525827,0

## Learning

In [52]:
X = train.copy()
y = X.pop('target')

In [53]:
from sklearn import model_selection

X_fit, X_val, y_fit, y_val = model_selection.train_test_split(
    X, y,
    random_state=42
)

In [54]:
import lightgbm as lgb

fit = lgb.Dataset(X_fit, y_fit)
val = lgb.Dataset(X_val, y_val, reference=fit)

model = lgb.train(
    params={
        'learning_rate': .01,
        'objective': 'binary',
        'metric': 'auc',
        'boost_from_average': True,
        'min_data_in_leaf': 20,
        'max_bin': 255,
        'num_leaves': 31,
        'min_data_per_group': 100,
        'cat_smooth': 10,
        'seed': 42
    },
    train_set=fit,
    num_boost_round=10_000,
    valid_sets=[fit, val],
    valid_names=['fit', 'val'],
    early_stopping_rounds=20,
    verbose_eval=100
)

Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.730339	val's auc: 0.714236
[200]	fit's auc: 0.73849	val's auc: 0.718866
[300]	fit's auc: 0.745667	val's auc: 0.721493
[400]	fit's auc: 0.751705	val's auc: 0.722878
[500]	fit's auc: 0.756937	val's auc: 0.723766
[600]	fit's auc: 0.761492	val's auc: 0.724165
Early stopping, best iteration is:
[649]	fit's auc: 0.763505	val's auc: 0.724226

In [55]:
import numpy as np
from sklearn import metrics

y_pred = model.predict(X_val)

def roc_auc_score_at_K(predicted_proba, target, rate=0.1):  
    order = np.argsort(-predicted_proba) 
    top_k = int(rate * len(predicted_proba)) 
    return metrics.roc_auc_score(target[order][:top_k], predicted_proba[order][:top_k]) 

val_score = roc_auc_score_at_K(y_pred, y_val)
val_score

0.5254742949234489

In [ ]:
0.5199993494665627

In [56]:
importances = model.feature_importance(importance_type='gain').astype(int)
print(pd.Series(importances, index=X_fit.columns).sort_values(ascending=False))

inquiry_recent_period             186882
prt_name                          134204
addr_region_fact                  102147
addr_region_reg                    77018
inquiry_1_week                     64546
channel_name_2                     52492
clnt_speciality_sphere_name        51133
sas_limit_last_amt                 25360
channel_name                       15173
delivery_type                      11548
sas_limit_after_003_amt             7851
channel_name_modified_2018          6766
feature_0                           6520
clnt_education_name                 5602
clnt_marital_status_name            2883
avg_target_by_addr_region_fact      2228
clnt_sex_name                       1641
clnt_employment_type_name              0
n_missing                              0
dtype: int64

In [57]:
#model.save_model(f'models/model_{val_score:.4f}.lgb')
model.save_model(f'track_2/model.lgb')

In [59]:
import joblib

!rm -f track_2/*.pkl

for ex in extractors:
    joblib.dump(ex, f'track_2/{ex}.pkl')