In [1]:
import pandas as pd

pd.options.display.max_columns = 100

dtypes = {
    'delivery_type': 'category',
    'addr_region_reg': 'category',
    'addr_region_fact': 'category',
    'channel_name': 'category',
    'channel_name_2': 'category',
    'sas_limit_after_003_amt': 'uint8',
    'sas_limit_last_amt': 'uint8',
    'channel_name_modified_2018': 'category',
    'clnt_education_name': 'category',
    'clnt_marital_status_name': 'category',
    'clnt_speciality_sphere_name': 'category',
    'clnt_sex_name': 'category',
    'prt_name': 'category',
    'clnt_income_month_avg_net_amt': 'uint',
    'clnt_expense_month_avg_amt': 'uint',
    'app_addr_region_reg': 'category',
    'app_addr_region_fact': 'category',
    'app_addr_region_sale': 'category',
    'prt_name': 'category',
    'feature_0': 'category',
    'clnt_birth_year': 'uint',
    'addr_region_fact_encoding1': 'float32',
    'addr_region_fact_encoding2': 'float32',
    'addr_region_reg_encoding1': 'float32',
    'addr_region_reg_encoding2': 'float32',
    'app_addr_region_reg_encoding1': 'float32',
    'app_addr_region_reg_encoding2': 'float32',
    'app_addr_region_fact_encoding1': 'float32',
    'app_addr_region_fact_encoding2': 'float32',
    'app_addr_region_sale_encoding1': 'float32',
    'app_addr_region_sale_encoding2': 'float32',
    'loans_main_borrower': 'float32',
    'loans_active': 'float32',
    'max_overdue_status': 'category',
    'ttl_inquiries': 'uint',
    'ttl_auto_loan': 'bool',
    'ttl_mortgage': 'bool',
    'ttl_credit_card': 'bool',
    'ttl_consumer': 'bool',
    'worst_status_ever': 'category',
    'feature_0': 'category',
    'feature_1': 'uint',
    'feature_2': 'uint',
    'feature_3': 'uint',
    'feature_4': 'uint',
    'feature_5': 'uint',
    'feature_6': 'uint',
    'feature_7': 'uint',
    'fl_coborrower': 'bool',
    'pay_load': 'float32',
    'makro_region': 'category',
    'fo': 'category',
    'region': 'category',
    'feature_30': 'category'
}

fill_missing = [
    ('inquiry_recent_period', 0, 'uint'),
    ('inquiry_1_week', 0, 'uint'),
    ('clnt_experience_cur_mnth', 0, 'uint'),
    ('clnt_experience_total_mnth', 0, 'uint'),
    ('last_loan_date', 6200, 'uint'),
    ('first_loan_date', 6200, 'uint'),
    ('ttl_bankruptcies', -1, 'category'),
    ('inquiry_recent_period', 0, 'uint'),
    ('inquiry_3_month', 0, 'uint'),
    ('inquiry_6_month', 0, 'uint'),
    ('inquiry_9_month', 0, 'uint'),
    ('inquiry_12_month', 0, 'uint'),
    ('inquiry_1_week', 0, 'uint'),
    ('inquiry_1_month', 0, 'uint'),
    *[
        (f'feature_{i}', -1, 'float32')
        for i in range(10, 30)
        if i != 11 and i != 26
    ]
]

cols_to_use = (
    list(dtypes.keys()) +
    list(col for col, *_ in fill_missing) + 
    ['card_id', 'target']
)
    
df = pd.read_csv('data/train.csv', index_col='card_id', dtype=dtypes, usecols=cols_to_use)

df['missing'] = df.isnull().sum(axis='columns')

for col, fill, dtype in fill_missing:
    df[col] = df[col].fillna(fill).astype(dtype)

df.head()

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,fl_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30,missing
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,3,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0.0,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,False,0.82,1,3,0.57,0.64,0.7,-1.0,-1.0,0.00,0.00,0.57,0.88,-1.0,0.00,0.77,0.49,0.53,0.91,-1.00,510.023529,-1.0,0,0,0,3,5
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_26,5,1,2,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,0.0,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,False,0.93,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,18
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_15,2,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,0.0,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,False,0.00,0,2,0.53,0.50,0.6,-1.0,-1.0,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.97,262.654236,359.0,2,4,71,4,2
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_14,2,1,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,0.0,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,True,0.92,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,18
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_24,3,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,0.0,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,False,0.00,0,3,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,18

In [2]:
class MeanEncoder:
    
    def __init__(self, df, on, by, prior_count=100):
        self.on = on
        self.by = by
        counts = df.groupby(by)[on].agg(['mean', 'count'])
        avg = df[on].mean()
        self.means = (
            counts
            .eval('(mean * count + @avg * @prior_count) / (count + @prior_count)')
            .rename(str(self))
        )
    
    def __str__(self):
        return f'avg_{self.on}_by_{self.by}'
        
    def transform(self, df):
        return df.join(self.means, on=self.by)[self.means.name]

In [3]:
class CountEncoder:
    
    def __init__(self, df, on):
        self.on = on
        self.counts = df.groupby(on).size().rename(str(self))
    
    def __str__(self):
        return f'{self.on}_size'
        
    def transform(self, df):
        return df.join(self.counts, on=self.on)[self.counts.name]

In [4]:
class NMissing:
    
    def __str__(self):
        return 'n_missing'
    
    def transform(self, df):
        return df.isnull().sum(axis='columns').rename(str(self))

In [6]:
extractors = [
    MeanEncoder(df, on='target', by='addr_region_fact'),
    CountEncoder(df, 'app_addr_region_sale_encoding1'),
    CountEncoder(df, 'app_addr_region_sale_encoding2'),
    CountEncoder(df, 'inquiry_recent_period'),
    NMissing(),
    MeanEncoder(df, on='missing', by='addr_region_fact'),
]

In [7]:
features = []

for ex in extractors:
    print(str(ex))
    features.append(ex.transform(df)) 
    
train = pd.concat([df] + features, axis='columns')
train.head()

avg_target_by_addr_region_fact
app_addr_region_sale_encoding1_size
app_addr_region_sale_encoding2_size
inquiry_recent_period_size
n_missing
avg_missing_by_addr_region_fact
inquire_slope

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,fl_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30,missing,avg_target_by_addr_region_fact,app_addr_region_sale_encoding1_size,app_addr_region_sale_encoding2_size,inquiry_recent_period_size,n_missing,avg_missing_by_addr_region_fact,inquire_slope
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,3,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0.0,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,False,0.82,1,3,0.57,0.64,0.7,-1.0,-1.0,0.00,0.00,0.57,0.88,-1.0,0.00,0.77,0.49,0.53,0.91,-1.00,510.023529,-1.0,0,0,0,3,5,0.662549,1626,1626,30652,0,14.754873,0.350000
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_26,5,1,2,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,0.0,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,False,0.93,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,18,0.498339,54906,54906,228,0,14.885496,0.431818
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_15,2,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,0.0,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,False,0.00,0,2,0.53,0.50,0.6,-1.0,-1.0,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.97,262.654236,359.0,2,4,71,4,2,0.434518,2020,2089,3794,0,14.703259,0.285714
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_14,2,1,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,0.0,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,True,0.92,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,18,0.478198,1616,1592,7355,0,15.647599,0.000000
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_24,3,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,0.0,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,False,0.00,0,3,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,18,0.525827,6313,6800,370,0,15.261925,0.250000

In [8]:
train.shape

(90000, 91)

In [9]:
X = train.drop(columns='target')
y = train['target']
X.head()

,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,fl_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30,missing,avg_target_by_addr_region_fact,app_addr_region_sale_encoding1_size,app_addr_region_sale_encoding2_size,inquiry_recent_period_size,n_missing,avg_missing_by_addr_region_fact,inquire_slope
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,3,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0.0,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,False,0.82,1,3,0.57,0.64,0.7,-1.0,-1.0,0.00,0.00,0.57,0.88,-1.0,0.00,0.77,0.49,0.53,0.91,-1.00,510.023529,-1.0,0,0,0,3,5,0.662549,1626,1626,30652,0,14.754873,0.350000
cid_105724,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_26,5,1,2,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,0.0,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,False,0.93,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,18,0.498339,54906,54906,228,0,14.885496,0.431818
cid_101410,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_15,2,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,0.0,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,False,0.00,0,2,0.53,0.50,0.6,-1.0,-1.0,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.97,262.654236,359.0,2,4,71,4,2,0.434518,2020,2089,3794,0,14.703259,0.285714
cid_38961,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_14,2,1,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,0.0,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,True,0.92,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,18,0.478198,1616,1592,7355,0,15.647599,0.000000
cid_57462,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_24,3,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,0.0,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,False,0.00,0,3,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,18,0.525827,6313,6800,370,0,15.261925,0.250000

In [10]:
from sklearn import model_selection

X_fit, X_val, y_fit, y_val = model_selection.train_test_split(
    X, y,
    test_size=.5,
    random_state=42,
    shuffle=True
)

In [11]:
import lightgbm as lgb
from scipy import special

fit = lgb.Dataset(X_fit, y_fit)
val = lgb.Dataset(X_val, y_val, reference=fit)

model = lgb.train(
    params={
        'learning_rate': .01,
        'objective': 'binary',
        'metric': 'auc',
        'boost_from_average': True,
        'min_data_in_leaf': 200,
        'max_bin': 255,
        'num_leaves': 31,
        'min_data_per_group': 100,
        'cat_smooth': 200,
        'seed': 42,
        'max_depth': -1
    },
    train_set=fit,
    num_boost_round=10_000,
    valid_sets=[fit, val],
    valid_names=['fit', 'val'],
    early_stopping_rounds=20,
    verbose_eval=100,
)

Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.738667	val's auc: 0.722304
[200]	fit's auc: 0.750807	val's auc: 0.731321
[300]	fit's auc: 0.759187	val's auc: 0.735139
[400]	fit's auc: 0.766321	val's auc: 0.73761
[500]	fit's auc: 0.772873	val's auc: 0.739081
[600]	fit's auc: 0.778635	val's auc: 0.740039
[700]	fit's auc: 0.783728	val's auc: 0.740362
Early stopping, best iteration is:
[745]	fit's auc: 0.785946	val's auc: 0.740534

In [12]:
import numpy as np
from sklearn import metrics

y_pred = model.predict(X_val)

def roc_auc_score_at_K(predicted_proba, target, rate=0.1, quantile_inf=0.05, quantile_sup=0.95):      
    predicted_proba = pd.Series(predicted_proba)
    quantile_inf = predicted_proba.quantile(quantile_inf)
    quantile_sup = predicted_proba.quantile(quantile_sup)
    predicted_proba = predicted_proba.apply(lambda x: 10**-6 if x < quantile_sup and x > quantile_inf else x)
    order = np.argsort(-predicted_proba) 
    top_k = int(rate * len(predicted_proba)) 
    return metrics.roc_auc_score(target[order][:top_k], predicted_proba[order][:top_k]) 

val_score = roc_auc_score_at_K(y_pred, y_val)
val_score

0.9074996542117015

In [13]:
{
    'learning_rate': .01,
    'objective': 'binary',
    'metric': 'auc',
    'boost_from_average': True,
    'min_data_in_leaf': 200,
    'max_bin': 255,
    'num_leaves': 31,
    'min_data_per_group': 100,
    'cat_smooth': 200,
    'seed': 42,
    'max_depth': -1
}

0.9085075098814229

0.9085075098814229

In [14]:
pd.Series(model.feature_importance(), index = X_fit.columns).sort_values(ascending = False).head(20)

prt_name                          1043
first_loan_date                   1020
last_loan_date                     995
clnt_birth_year                    892
clnt_income_month_avg_net_amt      760
sas_limit_last_amt                 746
inquiry_1_week                     738
avg_target_by_addr_region_fact     711
clnt_speciality_sphere_name        695
ttl_inquiries                      693
inquire_slope                      663
inquiry_12_month                   615
channel_name_2                     555
addr_region_fact                   539
delivery_type                      495
pay_load                           481
inquiry_recent_period              448
loans_active                       432
feature_0                          422
loans_main_borrower                421
dtype: int32

In [15]:
model.save_model(f'./track_2/model.lgb')

import joblib

!rm -f ./track_2/*.pkl

for ex in extractors:
    joblib.dump(ex, f'./track_2/{ex}.pkl')

In [16]:
from sklearn import model_selection

!rm -f ./track_2/*.lgb

cv = model_selection.KFold(5, random_state=1)

oof = []

for i, (fit, val) in enumerate(cv.split(X, y)):
    
    X_fit = X.iloc[fit]
    X_val = X.iloc[val]
    
    y_fit = y.iloc[fit]
    y_val = y.iloc[val]
    
    fit = lgb.Dataset(X_fit, y_fit)
    val = lgb.Dataset(X_val, y_val, reference=fit)

    model = lgb.train(
        params={
            'learning_rate': .01,
            'objective': 'binary',
            'metric': 'auc',
            'boost_from_average': True,
            'min_data_in_leaf': 200,
            'max_bin': 255,
            'num_leaves': 31,
            'min_data_per_group': 100,
            'cat_smooth': 200,
            'seed': 42,
            'max_depth': -1
        },
        train_set=fit,
        num_boost_round=10_000,
        valid_sets=[fit, val],
        valid_names=['fit', 'val'],
        early_stopping_rounds=20,
        verbose_eval=100,
    )
    
    model.save_model(f'./track_2/model_{i}.lgb')
    
    X_val['y_pred'] = model.predict(X_val)
    X_val['target'] = y_val.copy()
    
    oof.append(X_val)
    
oof = pd.concat(oof)

/Users/max.halford/anaconda3/envs/idao/lib/python3.7/site-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.734377	val's auc: 0.728864
[200]	fit's auc: 0.745185	val's auc: 0.736318
[300]	fit's auc: 0.752844	val's auc: 0.740351
[400]	fit's auc: 0.758689	val's auc: 0.742671
[500]	fit's auc: 0.76378	val's auc: 0.744275
[600]	fit's auc: 0.7683	val's auc: 0.745298
[700]	fit's auc: 0.772311	val's auc: 0.745974
[800]	fit's auc: 0.775926	val's auc: 0.746348
Early stopping, best iteration is:
[850]	fit's auc: 0.777628	val's auc: 0.746471

/Users/max.halford/anaconda3/envs/idao/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/max.halford/anaconda3/envs/idao/lib/python3.7/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.735939	val's auc: 0.727793
[200]	fit's auc: 0.745968	val's auc: 0.735773
[300]	fit's auc: 0.753128	val's auc: 0.739536
[400]	fit's auc: 0.758956	val's auc: 0.741725
[500]	fit's auc: 0.764107	val's auc: 0.743156
[600]	fit's auc: 0.768637	val's auc: 0.743947
[700]	fit's auc: 0.77256	val's auc: 0.744643
[800]	fit's auc: 0.776166	val's auc: 0.744887
[900]	fit's auc: 0.779481	val's auc: 0.744986
Early stopping, best iteration is:
[901]	fit's auc: 0.779507	val's auc: 0.744986
Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.7348	val's auc: 0.727003
[200]	fit's auc: 0.745881	val's auc: 0.733931
[300]	fit's auc: 0.753343	val's auc: 0.737553
[400]	fit's auc: 0.759092	val's auc: 0.739613
[500]	fit's auc: 0.76415	val's auc: 0.740754
[600]	fit's auc: 0.768478	val's auc: 0.741874
[700]	fit's auc: 0.772405	val's auc: 0.742654
[800]	fit's auc: 0.776003	val's auc: 0.743183
[900]	fit's auc: 0.779348	val's auc: 0.743458
Early stopping, best iteration is:
[959]	fit's auc: 0.781197	val's auc: 0.743633
Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.73469	val's auc: 0.727034
[200]	fit's auc: 0.745497	val's auc: 0.735614
[300]	fit's auc: 0.752854	val's auc: 0.739948
[400]	fit's auc: 0.758782	val's auc: 0.742537
[500]	fit's auc: 0.763901	val's auc: 0.74432
[600]	fit's auc: 0.768303	val's auc: 0.745388
[700]	fit's auc: 0.77225	val's auc: 0.746093
[800]	fit's auc: 0.775876	val's auc: 0.746586
[900]	fit's auc: 0.779225	val's auc: 0.746805
[1000]	fit's auc: 0.782457	val's auc: 0.747036
Early stopping, best iteration is:
[1015]	fit's auc: 0.782933	val's auc: 0.747075
Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.735624	val's auc: 0.731561
[200]	fit's auc: 0.745101	val's auc: 0.738106
[300]	fit's auc: 0.752284	val's auc: 0.74233
[400]	fit's auc: 0.758154	val's auc: 0.744929
[500]	fit's auc: 0.763339	val's auc: 0.746539
[600]	fit's auc: 0.767883	val's auc: 0.747731
[700]	fit's auc: 0.771868	val's auc: 0.74836
[800]	fit's auc: 0.775542	val's auc: 0.7488
[900]	fit's auc: 0.779026	val's auc: 0.749002
Early stopping, best iteration is:
[965]	fit's auc: 0.781266	val's auc: 0.749049

In [17]:
import joblib

!rm -f ./track_2/*.pkl

for ex in extractors:
    joblib.dump(ex, f'./track_2/{ex}.pkl')