In [1]:
import pandas as pd

pd.options.display.max_columns = 100

dtypes = {
    'delivery_type': 'category',
    'addr_region_reg': 'category',
    'addr_region_fact': 'category',
    'channel_name': 'category',
    'channel_name_2': 'category',
    'sas_limit_after_003_amt': 'uint8',
    'sas_limit_last_amt': 'uint8',
    'channel_name_modified_2018': 'category',
    'clnt_education_name': 'category',
    'clnt_marital_status_name': 'category',
    'clnt_employment_type_name': 'category',
    'clnt_speciality_sphere_name': 'category',
    'clnt_sex_name': 'category',
    'prt_name': 'category',
    'clnt_income_month_avg_net_amt': 'uint',
    'clnt_expense_month_avg_amt': 'uint',
    'app_addr_region_reg': 'category',
    'app_addr_region_fact': 'category',
    'app_addr_region_sale': 'category',
    'prt_name': 'category',
    'feature_0': 'category',
    'clnt_birth_year': 'uint',
    'addr_region_fact_encoding1': 'float32',
    'addr_region_fact_encoding2': 'float32',
    'addr_region_reg_encoding1': 'float32',
    'addr_region_reg_encoding2': 'float32',
    'app_addr_region_reg_encoding1': 'float32',
    'app_addr_region_reg_encoding2': 'float32',
    'app_addr_region_fact_encoding1': 'float32',
    'app_addr_region_fact_encoding2': 'float32',
    'app_addr_region_sale_encoding1': 'float32',
    'app_addr_region_sale_encoding2': 'float32',
    'loans_main_borrower': 'float32',
    'loans_active': 'float32',
    'max_overdue_status': 'category',
    'ttl_inquiries': 'uint',
    'ttl_auto_loan': 'bool',
    'ttl_mortgage': 'bool',
    'ttl_credit_card': 'bool',
    'ttl_consumer': 'bool',
    'worst_status_ever': 'category',
    'feature_0': 'category',
    'feature_1': 'uint',
    'feature_2': 'uint',
    'feature_3': 'uint',
    'feature_4': 'uint',
    'feature_5': 'uint',
    'feature_6': 'uint',
    'feature_7': 'uint',
    'feature_8': 'uint',
    'feature_9': 'uint',
    'fl_coborrower': 'bool',
    'fl_active_coborrower': 'bool',
    'pay_load': 'float32',
    'makro_region': 'category',
    'fo': 'category',
    'region': 'category',
    'feature_30': 'category'
}

fill_missing = [
    ('inquiry_recent_period', 0, 'uint'),
    ('inquiry_1_week', 0, 'uint'),
    ('clnt_experience_cur_mnth', 0, 'uint'),
    ('clnt_experience_cur_year', 0, 'uint'),
    ('clnt_experience_total_mnth', 0, 'uint'),
    ('last_loan_date', 6200, 'uint'),
    ('first_loan_date', 6200, 'uint'),
    ('ttl_officials', -1, 'category'),
    ('ttl_legals', -1, 'category'),
    ('ttl_bankruptcies', -1, 'category'),
    ('inquiry_recent_period', 0, 'uint'),
    ('inquiry_3_month', 0, 'uint'),
    ('inquiry_6_month', 0, 'uint'),
    ('inquiry_9_month', 0, 'uint'),
    ('inquiry_12_month', 0, 'uint'),
    ('inquiry_1_week', 0, 'uint'),
    ('inquiry_1_month', 0, 'uint'),
    *[
        (f'feature_{i}', -1, 'float32')
        for i in range(10, 30)
        if i != 11
    ]
]

cols_to_use = (
    list(dtypes.keys()) +
    list(col for col, *_ in fill_missing) + 
    ['card_id', 'target']
)
    
df = pd.read_csv('./../data/train.csv', index_col='card_id', dtype=dtypes, usecols=cols_to_use)

df['missing'] = df.isnull().sum(axis='columns')

for col, fill, dtype in fill_missing:
    df[col] = df[col].fillna(fill).astype(dtype)

df.head()

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30,missing
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0.0,0.0,0.0,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,0,0,False,False,0.82,1,3,0.57,0.64,0.7,-1.0,-1.0,0.00,0.00,0.57,0.88,-1.0,0.00,0.77,0.49,0.53,0.91,0.99,-1.00,510.023529,-1.0,0,0,0,3,5
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2,0,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,0.0,0.0,0.0,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,0,0,False,False,0.93,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,19
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,0.0,0.0,0.0,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,0,0,False,False,0.00,0,2,0.53,0.50,0.6,-1.0,-1.0,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.99,0.97,262.654236,359.0,2,4,71,4,2
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,0.0,0.0,0.0,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,0,0,True,True,0.92,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,19
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,0.0,0.0,0.0,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,0,0,False,False,0.00,0,3,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,19

In [4]:
class MeanEncoder:
    
    def __init__(self, df, on, by, prior_count=100):
        self.on = on
        self.by = by
        counts = df.groupby(by)[on].agg(['mean', 'count'])
        avg = df[on].mean()
        self.means = (
            counts
            .eval('(mean * count + @avg * @prior_count) / (count + @prior_count)')
            .rename(str(self))
        )
    
    def __str__(self):
        return f'avg_{self.on}_by_{self.by}'
        
    def transform(self, df):
        return df.join(self.means, on=self.by)[self.means.name]

In [5]:
class CountEncoder:
    
    def __init__(self, df, on):
        self.on = on
        self.counts = df.groupby(on).size().rename(str(self))
    
    def __str__(self):
        return f'{self.on}_size'
        
    def transform(self, df):
        return df.join(self.counts, on=self.on)[self.counts.name]

In [6]:
class NMissing:
    
    def __str__(self):
        return 'n_missing'
    
    def transform(self, df):
        return df.isnull().sum(axis='columns').rename(str(self))

In [7]:
extractors = [
    MeanEncoder(df, on='target', by='addr_region_fact'),
    CountEncoder(df, 'app_addr_region_sale_encoding1'),
    CountEncoder(df, 'app_addr_region_sale_encoding2'),
    CountEncoder(df, 'inquiry_recent_period'),
    NMissing(),
    MeanEncoder(df, on='missing', by='addr_region_fact'),
]

In [8]:
features = []

for ex in extractors:
    print(str(ex))
    features.append(ex.transform(df)) 
    
train = pd.concat([df] + features, axis='columns')
train.head()

avg_target_by_addr_region_fact
app_addr_region_sale_encoding1_size
app_addr_region_sale_encoding2_size
inquiry_recent_period_size
n_missing
avg_missing_by_addr_region_fact

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30,missing,avg_target_by_addr_region_fact,app_addr_region_sale_encoding1_size,app_addr_region_sale_encoding2_size,inquiry_recent_period_size,n_missing,avg_missing_by_addr_region_fact
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0.0,0.0,0.0,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,0,0,False,False,0.82,1,3,0.57,0.64,0.7,-1.0,-1.0,0.00,0.00,0.57,0.88,-1.0,0.00,0.77,0.49,0.53,0.91,0.99,-1.00,510.023529,-1.0,0,0,0,3,5,0.662549,1626,1626,30652,0,15.574218
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2,0,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,0.0,0.0,0.0,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,0,0,False,False,0.93,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,19,0.498339,54906,54906,228,0,15.728889
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,0.0,0.0,0.0,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,0,0,False,False,0.00,0,2,0.53,0.50,0.6,-1.0,-1.0,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.99,0.97,262.654236,359.0,2,4,71,4,2,0.434518,2020,2089,3794,0,15.524923
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,0.0,0.0,0.0,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,0,0,True,True,0.92,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,19,0.478198,1616,1592,7355,0,16.522107
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,0.0,0.0,0.0,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,0,0,False,False,0.00,0,3,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,19,0.525827,6313,6800,370,0,16.106824

In [9]:
X = train.drop(columns='target')
y = train['target']
X.head()

,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30,missing,avg_target_by_addr_region_fact,app_addr_region_sale_encoding1_size,app_addr_region_sale_encoding2_size,inquiry_recent_period_size,n_missing,avg_missing_by_addr_region_fact
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0.0,0.0,0.0,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,0,0,False,False,0.82,1,3,0.57,0.64,0.7,-1.0,-1.0,0.00,0.00,0.57,0.88,-1.0,0.00,0.77,0.49,0.53,0.91,0.99,-1.00,510.023529,-1.0,0,0,0,3,5,0.662549,1626,1626,30652,0,15.574218
cid_105724,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2,0,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,0.0,0.0,0.0,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,0,0,False,False,0.93,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,19,0.498339,54906,54906,228,0,15.728889
cid_101410,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,0.0,0.0,0.0,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,0,0,False,False,0.00,0,2,0.53,0.50,0.6,-1.0,-1.0,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.99,0.97,262.654236,359.0,2,4,71,4,2,0.434518,2020,2089,3794,0,15.524923
cid_38961,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,0.0,0.0,0.0,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,0,0,True,True,0.92,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,19,0.478198,1616,1592,7355,0,16.522107
cid_57462,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,0.0,0.0,0.0,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,0,0,False,False,0.00,0,3,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7,19,0.525827,6313,6800,370,0,16.106824

In [10]:
from sklearn import model_selection

X_fit, X_val, y_fit, y_val = model_selection.train_test_split(
    X, y,
    test_size=.5,
    random_state=42,
    shuffle=True
)

In [11]:
import lightgbm as lgb
from scipy import special

fit = lgb.Dataset(X_fit, y_fit)
val = lgb.Dataset(X_val, y_val, reference=fit)

model = lgb.train(
    params={
        'learning_rate': .01,
        'objective': 'binary',
        'metric': 'auc',
        'boost_from_average': True,
        'min_data_in_leaf': 200,
        'max_bin': 255,
        'num_leaves': 31,
        'min_data_per_group': 100,
        'cat_smooth': 200,
        'seed': 42,
        'max_depth': -1
    },
    train_set=fit,
    num_boost_round=10_000,
    valid_sets=[fit, val],
    valid_names=['fit', 'val'],
    early_stopping_rounds=20,
    verbose_eval=100,
)

Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.738966	val's auc: 0.722819
[200]	fit's auc: 0.75055	val's auc: 0.730937
[300]	fit's auc: 0.759051	val's auc: 0.734902
[400]	fit's auc: 0.766397	val's auc: 0.737598
[500]	fit's auc: 0.772756	val's auc: 0.739194
[600]	fit's auc: 0.778467	val's auc: 0.739913
[700]	fit's auc: 0.783522	val's auc: 0.740358
[800]	fit's auc: 0.788198	val's auc: 0.740673
[900]	fit's auc: 0.792658	val's auc: 0.740799
Early stopping, best iteration is:
[950]	fit's auc: 0.794773	val's auc: 0.740898

In [12]:
import numpy as np
from sklearn import metrics

y_pred = model.predict(X_val)

def roc_auc_score_at_K(predicted_proba, target, rate=0.1, quantile_inf=0.05, quantile_sup=0.95):      
    predicted_proba = pd.Series(predicted_proba)
    quantile_inf = predicted_proba.quantile(quantile_inf)
    quantile_sup = predicted_proba.quantile(quantile_sup)
    predicted_proba = predicted_proba.apply(lambda x: 10**-6 if x < quantile_sup and x > quantile_inf else x)
    order = np.argsort(-predicted_proba) 
    top_k = int(rate * len(predicted_proba)) 
    return metrics.roc_auc_score(target[order][:top_k], predicted_proba[order][:top_k]) 

val_score = roc_auc_score_at_K(y_pred, y_val)
val_score

0.9085075098814229

In [13]:
0.9085075098814229

0.9085075098814229

In [14]:
model.save_model(f'./../track_2/model.lgb')

In [15]:
import joblib

!rm -f ./../track_2/*.pkl

for ex in extractors:
    joblib.dump(ex, f'./../track_2/{ex}.pkl')

In [ ]:
import pandas as pd
import numpy as np

In [2]:
from sklearn import preprocessing
from sklearn import model_selection
from sklearn import metrics

In [3]:
#pip install lightgbm
import lightgbm

In [4]:

pd.options.display.max_columns = 100

dtypes = {
    'delivery_type': 'category',
    'addr_region_reg': 'category',
    'addr_region_fact': 'category',
    'channel_name': 'category',
    'channel_name_2': 'category',
    'sas_limit_after_003_amt': 'uint8',
    'sas_limit_last_amt': 'uint8',
    'channel_name_modified_2018': 'category',
    'clnt_education_name': 'category',
    'clnt_marital_status_name': 'category',
    'clnt_employment_type_name': 'category',
    'clnt_speciality_sphere_name': 'category',
    'clnt_sex_name': 'category',
    'prt_name': 'category',
    'clnt_income_month_avg_net_amt': 'uint',
    'clnt_expense_month_avg_amt': 'uint',
    'app_addr_region_reg': 'category',
    'app_addr_region_fact': 'category',
    'app_addr_region_sale': 'category',
    'prt_name': 'category',
    'feature_0': 'category',
    'clnt_birth_year': 'uint',
    'addr_region_fact_encoding1': 'float32',
    'addr_region_fact_encoding2': 'float32',
    'addr_region_reg_encoding1': 'float32',
    'addr_region_reg_encoding2': 'float32',
    'app_addr_region_reg_encoding1': 'float32',
    'app_addr_region_reg_encoding2': 'float32',
    'app_addr_region_fact_encoding1': 'float32',
    'app_addr_region_fact_encoding2': 'float32',
    'app_addr_region_sale_encoding1': 'float32',
    'app_addr_region_sale_encoding2': 'float32',
    'loans_main_borrower': 'float32',
    'loans_active': 'float32',
    'max_overdue_status': 'category',
    'ttl_inquiries': 'uint',
    'ttl_auto_loan': 'bool',
    'ttl_mortgage': 'bool',
    'ttl_credit_card': 'bool',
    'ttl_consumer': 'bool',
    'worst_status_ever': 'category',
    'feature_0': 'category',
    'feature_1': 'uint',
    'feature_2': 'uint',
    'feature_3': 'uint',
    'feature_4': 'uint',
    'feature_5': 'uint',
    'feature_6': 'uint',
    'feature_7': 'uint',
    'feature_8': 'uint',
    'feature_9': 'uint',
    'fl_coborrower': 'bool',
    'fl_active_coborrower': 'bool',
    'pay_load': 'float32',
    'makro_region': 'category',
    'fo': 'category',
    'region': 'category',
    'feature_30': 'category'
}

fill_missing = [
    ('inquiry_recent_period', 0, 'uint'),
    ('inquiry_1_week', 0, 'uint'),
    ('clnt_experience_cur_mnth', 0, 'uint'),
    ('clnt_experience_cur_year', 0, 'uint'),
    ('clnt_experience_total_mnth', 0, 'uint'),
    ('last_loan_date', 6200, 'uint'),
    ('first_loan_date', 6200, 'uint'),
    ('ttl_officials', -1, 'category'),
    ('ttl_legals', -1, 'category'),
    ('ttl_bankruptcies', -1, 'category'),
    ('inquiry_recent_period', 0, 'uint'),
    ('inquiry_3_month', 0, 'uint'),
    ('inquiry_6_month', 0, 'uint'),
    ('inquiry_9_month', 0, 'uint'),
    ('inquiry_12_month', 0, 'uint'),
    ('inquiry_1_week', 0, 'uint'),
    ('inquiry_1_month', 0, 'uint'),
    *[
        (f'feature_{i}', -1, 'float32')
        for i in range(10, 30)
        if i != 11
    ]
]

cols_to_use = (
    list(dtypes.keys()) +
    list(col for col, *_ in fill_missing) + 
    ['card_id', 'target']
)

df = pd.read_csv('./../data/train.csv', index_col='card_id', dtype=dtypes, usecols=cols_to_use)


df.head()

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0.0,0.0,0.0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193.0,2851.0,2,0.0,0.0,0.0,0.0,7.0,10.0,12.0,19.0,87,False,False,True,True,3,3,10,4,0,0,5,1,0,0,False,False,0.82,1.0,3.0,0.57,0.64,0.7,NaN,NaN,0.00,0.00,0.57,0.88,NaN,0.00,0.77,0.49,0.53,0.91,0.99,NaN,510.023518,NaN,0,0,0,3
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2.0,0.0,3.0,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73.0,4288.0,1,0.0,0.0,0.0,58.0,19.0,28.0,31.0,43.0,94,True,False,True,True,2,2,5,0,0,0,0,0,0,0,False,False,0.93,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0.0,0.0,0.0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242.0,1852.0,1,0.0,0.0,0.0,30.0,6.0,6.0,11.0,20.0,31,False,False,True,True,2,1,2,0,0,0,0,0,0,0,False,False,0.00,0.0,2.0,0.53,0.50,0.6,NaN,NaN,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.99,0.97,262.654250,359.0,2,4,71,4
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0.0,0.0,0.0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868.0,868.0,1,0.0,0.0,0.0,366.0,0.0,0.0,0.0,0.0,8,False,True,False,False,2,0,4,0,0,0,3,0,0,0,True,True,0.92,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0.0,0.0,0.0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525.0,1525.0,1,0.0,0.0,0.0,26.0,4.0,7.0,8.0,15.0,33,False,False,True,False,1,0,0,0,0,0,0,0,0,0,False,False,0.00,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7

In [5]:
features_to_keep = ['delivery_type', 'addr_region_reg', 'addr_region_fact', 'channel_name', 'channel_name_2',
           'sas_limit_after_003_amt', 'sas_limit_last_amt', 'channel_name_modified_2018', 'clnt_education_name',
           'clnt_marital_status_name', 'clnt_employment_type_name', 'clnt_speciality_sphere_name', 
           'clnt_sex_name', 'prt_name', 'feature_0', 'inquiry_recent_period', 'inquiry_1_week', 
            'pay_load', 'feature_20', 'ttl_bankruptcies', 'ttl_legals', 'app_addr_region_sale_encoding1',
           'clnt_experience_cur_mnth', 'feature_30', 'ttl_mortgage', 'ttl_credit_card', 'addr_region_fact_encoding2', 
           'clnt_experience_cur_year', 'feature_9', 'ttl_auto_loan',
           'ttl_officials', 'max_overdue_status', 'feature_13', 'addr_region_reg_encoding2', 'feature_26']

In [6]:
#duplicated = df[(df[features_to_keep].duplicated()) & (df['target'] == 1)].copy()
#duplicated

In [7]:
categories = []

for feature in features_to_keep:
    if pd.api.types.is_numeric_dtype(df[feature]):
        df[feature] = df[feature].fillna(-1)
    else:
        df[feature].cat.add_categories("Missing").fillna("Missing")
        categories.append(feature)

In [8]:
class MeanEncoder:
    
    def __init__(self, df, on, by, prior_count=100):
        self.on = on
        self.by = by
        counts = df.groupby(by)[on].agg(['mean', 'count'])
        avg = df[on].mean()
        self.means = (
            counts
            .eval('(mean * count + @avg * @prior_count) / (count + @prior_count)')
            .rename(str(self))
        )
    
    def __str__(self):
        return f'avg_{self.on}_by_{"_".join(self.by)}' if isinstance(self.by, list) else f'avg_{self.on}_by_{self.by}' 
        
    def transform(self, df):
        return df.join(self.means, on=self.by)[self.means.name]

In [9]:
class NMissing:
    
    def __str__(self):
        return 'n_missing'
    
    def transform(self, df):
        return df.isnull().sum(axis='columns').rename(str(self))

In [10]:
import json

class KgEmbeddings:
    
    def __init__(self, path = './embeddings/embeddings.json'):
        self.embeddings =  self.load(path=path)
        
        self.features_names = {}
        
        self.black_list = [
            'ttl_auto_loan',
            'ttl_mortgage',
            'ttl_credit_card',
            'ttl_consumer',
            'fl_coborrower',
            'fl_active_coborrower',
        ]
        
        for feature in list(self.embeddings.keys()):
            self.features_names[feature] = [
                column for column in list(self.embeddings[feature].keys()) if '_dim_' in column]
    
    def __str__(self):
        return f'kg_embddings'
    
    @classmethod
    def load(cls, path):
        with open(path, 'r') as input_file:
            embeddings = json.load(input_file)
        return embeddings

    def transform(self, df):
        features = []
        for key in self.embeddings.keys():
            if key in df.columns and key not in self.black_list:
                entities = pd.DataFrame(self.embeddings[key])
                entities[key] = entities[key].astype(df[key].dtypes)
                features.append(
                    pd.merge(left  = df, right = entities.drop_duplicates(), how = 'left', on = key)[self.features_names[key]]
                )
        return pd.concat(features, axis = 'columns').set_index(df.index)

In [11]:
extractors = [
    MeanEncoder(df, on='target', by='addr_region_fact'),
    NMissing(),
    #KgEmbeddings(),
]

In [12]:
features = []

for ex in extractors:
    print(str(ex))
    features.append(ex.transform(df)) 
    
train = pd.concat([df] + features, axis='columns')
train.head()

avg_target_by_addr_region_fact
n_missing

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30,avg_target_by_addr_region_fact,n_missing
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0.0,0.0,0.0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193.0,2851.0,2,0.0,0.0,0.0,0.0,7.0,10.0,12.0,19.0,87,False,False,True,True,3,3,10,4,0,0,5,1,0,0,False,False,0.82,1.0,3.0,0.57,0.64,0.7,NaN,NaN,0.00,0.00,0.57,0.88,-1.0,0.00,0.77,0.49,0.53,0.91,0.99,NaN,510.023518,NaN,0,0,0,3,0.662549,4
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2.0,0.0,3.0,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73.0,4288.0,1,0.0,0.0,0.0,58.0,19.0,28.0,31.0,43.0,94,True,False,True,True,2,2,5,0,0,0,0,0,0,0,False,False,0.93,0.0,0.0,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,-1.00,NaN,NaN,NaN,0,0,0,7,0.498339,16
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0.0,0.0,0.0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242.0,1852.0,1,0.0,0.0,0.0,30.0,6.0,6.0,11.0,20.0,31,False,False,True,True,2,1,2,0,0,0,0,0,0,0,False,False,0.00,0.0,2.0,0.53,0.50,0.6,NaN,NaN,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.99,0.97,262.654250,359.0,2,4,71,4,0.434518,2
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0.0,0.0,0.0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868.0,868.0,1,0.0,0.0,0.0,366.0,0.0,0.0,0.0,0.0,8,False,True,False,False,2,0,4,0,0,0,3,0,0,0,True,True,0.92,0.0,0.0,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,-1.00,NaN,NaN,NaN,0,0,0,7,0.478198,16
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0.0,0.0,0.0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525.0,1525.0,1,0.0,0.0,0.0,26.0,4.0,7.0,8.0,15.0,33,False,False,True,False,1,0,0,0,0,0,0,0,0,0,False,False,0.00,0.0,3.0,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,-1.00,NaN,NaN,NaN,0,0,0,7,0.525827,16

In [13]:
def roc_auc_score_at_K(predicted_proba, target, rate=0.1):  
    order = np.argsort(-predicted_proba) 
    top_k = int(rate * len(predicted_proba)) 
    return metrics.roc_auc_score(target[order][:top_k], predicted_proba[order][:top_k])

In [14]:
X = train.drop(columns='target')
y = train['target']

In [15]:
from sklearn import model_selection

X_fit, X_val, y_fit, y_val = model_selection.train_test_split(
    X, y,
    random_state=42,
    shuffle = True,
)

In [17]:
import lightgbm as lgb

fit = lgb.Dataset(X_fit, y_fit)
val = lgb.Dataset(X_val, y_val, reference=fit)

parameters = {
    'learning_rate': .01,
    'objective': 'huber',
    'metric': 'auc',
    'cat_smooth': 100,
    'seed': 42,
}

model = lgb.train(
    params=parameters,
    train_set=fit,
    num_boost_round=10000,
    valid_sets=[fit, val],
    valid_names=['fit', 'val'],
    early_stopping_rounds=20,
    verbose_eval=100
)

y_pred = model.predict(X_val)

val_score = roc_auc_score_at_K(y_pred, y_val)

val_score

Training until validation scores don't improve for 20 rounds
[100]	fit's auc: 0.739523	val's auc: 0.724729
[200]	fit's auc: 0.749555	val's auc: 0.731652
[300]	fit's auc: 0.75751	val's auc: 0.736428
[400]	fit's auc: 0.764312	val's auc: 0.738902
[500]	fit's auc: 0.770216	val's auc: 0.740209
[600]	fit's auc: 0.775283	val's auc: 0.740946
[700]	fit's auc: 0.779671	val's auc: 0.741313
[800]	fit's auc: 0.783661	val's auc: 0.741433
Early stopping, best iteration is:
[780]	fit's auc: 0.7829	val's auc: 0.741484

0.6022018808339062

In [18]:
#pd.Series(y_pred).quantile(0.05)

In [19]:
#pd.Series(y_pred).quantile(0.95)

In [20]:
y_pred = pd.Series(y_pred)
y_cheat = y_pred.copy()

In [21]:
#y_cheat.loc[y_cheat < y_pred.quantile(0.05)] = 0

In [22]:
#y_cheat.loc[y_cheat > y_pred.quantile(0.95)] = 1

In [23]:
y_cheat.loc[(y_cheat < y_pred.quantile(0.95)) & (y_cheat > y_pred.quantile(0.05))] = -1

In [24]:
roc_auc_score_at_K(y_cheat, y_val)

0.9110003644415704

In [25]:
importances = model.feature_importance(importance_type='gain').astype(int)
print(pd.Series(importances, index=X_fit.columns).sort_values(ascending=False))

inquiry_recent_period       39983
prt_name                    27143
inquiry_1_week              14874
channel_name_2              11982
addr_region_fact             7518
                            ...
feature_26                      0
clnt_experience_cur_year        0
ttl_legals                      0
ttl_bankruptcies                0
feature_8                       0
Length: 92, dtype: int64

In [26]:
model.save_model(f'./../track_2/model.lgb')

import joblib

!rm -f ./../track_2/*.pkl

for ex in extractors:
    joblib.dump(ex, f'./../track_2/{ex}.pkl')

In [29]:
prediction = df.index.to_frame()
# y_pred.loc[(y_pred < y_pred.quantile(0.95)) &
#           (y_pred > y_pred.quantile(0.05))] = (10**-6)
prediction['target'] = pd.Series(model.predict(X))

In [30]:
prediction

               card_id  target
card_id
cid_10620    cid_10620     NaN
cid_105724  cid_105724     NaN
cid_101410  cid_101410     NaN
cid_38961    cid_38961     NaN
cid_57462    cid_57462     NaN
...                ...     ...
cid_34679    cid_34679     NaN
cid_83577    cid_83577     NaN
cid_127181  cid_127181     NaN
cid_113463  cid_113463     NaN
cid_102137  cid_102137     NaN

[90000 rows x 2 columns]

In [ ]:
parameters = {
'learning_rate': .01,
'objective': 'binary',
'metric': 'auc',
'cat_smooth': 200,
'seed': 42,
}

0.6061146221574029

In [13]:
X_train = train.drop(columns='target')
y_train = train['target']

In [14]:
cv = model_selection.KFold(5, shuffle = True)

model = lightgbm.LGBMClassifier(**parameters)

oof = []

feature_importance = pd.DataFrame(index=X_train.columns)

for i, (fit, val) in enumerate(cv.split(X_train, y_train)): # groups
    
    print(f'\n Fold {i+1} \n')
    
    X_fit = X_train.iloc[fit].copy()
    X_val = X_train.iloc[val].copy()
    
    y_fit = y_train.iloc[fit].copy()
    y_val = y_train.iloc[val].copy()
    
    model.fit(X_fit, y_fit, eval_set = (X_val, y_val), early_stopping_rounds = 30)
    
    X_val['y_pred'] = model.predict_proba(X_val)[:,1]
    X_val['target'] = y_val
    
    oof.append(X_val)
    
stack = pd.concat(oof, axis = 'rows')

 Fold 1

[1]	valid_0's auc: 0.702944
Training until validation scores don't improve for 30 rounds
[2]	valid_0's auc: 0.703427
[3]	valid_0's auc: 0.704467
[4]	valid_0's auc: 0.70616
[5]	valid_0's auc: 0.707464
[6]	valid_0's auc: 0.707879
[7]	valid_0's auc: 0.708164
[8]	valid_0's auc: 0.709938
[9]	valid_0's auc: 0.710636
[10]	valid_0's auc: 0.710456
[11]	valid_0's auc: 0.711907
[12]	valid_0's auc: 0.711923
[13]	valid_0's auc: 0.7119
[14]	valid_0's auc: 0.71237
[15]	valid_0's auc: 0.712641
[16]	valid_0's auc: 0.712699
[17]	valid_0's auc: 0.713376
[18]	valid_0's auc: 0.713379
[19]	valid_0's auc: 0.713864
[20]	valid_0's auc: 0.714268
[21]	valid_0's auc: 0.714491
[22]	valid_0's auc: 0.71479
[23]	valid_0's auc: 0.714845
[24]	valid_0's auc: 0.715019
[25]	valid_0's auc: 0.715126
[26]	valid_0's auc: 0.715267
[27]	valid_0's auc: 0.715413
[28]	valid_0's auc: 0.715507
[29]	valid_0's auc: 0.715608
[30]	valid_0's auc: 0.715623
[31]	valid_0's auc: 0.715702
[32]	valid_0's auc: 0.715777
[33]	valid_0's auc: 0.715802
[34]	valid_0's auc: 0.715842
[35]	valid_0's auc: 0.715899
[36]	valid_0's auc: 0.715988
[37]	valid_0's auc: 0.716085
[38]	valid_0's auc: 0.716176
[39]	valid_0's auc: 0.716266
[40]	valid_0's auc: 0.716297
[41]	valid_0's auc: 0.716374
[42]	valid_0's auc: 0.716386
[43]	valid_0's auc: 0.716418
[44]	valid_0's auc: 0.716539
[45]	valid_0's auc: 0.716598
[46]	valid_0's auc: 0.716644
[47]	valid_0's auc: 0.716698
[48]	valid_0's auc: 0.716806
[49]	valid_0's auc: 0.716847
[50]	valid_0's auc: 0.716929
[51]	valid_0's auc: 0.716984
[52]	valid_0's auc: 0.717072
[53]	valid_0's auc: 0.717326
[54]	valid_0's auc: 0.717587
[55]	valid_0's auc: 0.717843
[56]	valid_0's auc: 0.718031
[57]	valid_0's auc: 0.718225
[58]	valid_0's auc: 0.718505
[59]	valid_0's auc: 0.718716
[60]	valid_0's auc: 0.718875
[61]	valid_0's auc: 0.71895
[62]	valid_0's auc: 0.719152
[63]	valid_0's auc: 0.719406
[64]	valid_0's auc: 0.719514
[65]	valid_0's auc: 0.719711
[66]	valid_0's auc: 0.719827
[67]	valid_0's auc: 0.719987
[68]	valid_0's auc: 0.720087
[69]	valid_0's auc: 0.720172
[70]	valid_0's auc: 0.720313
[71]	valid_0's auc: 0.720395
[72]	valid_0's auc: 0.720574
[73]	valid_0's auc: 0.720654
[74]	valid_0's auc: 0.720777
[75]	valid_0's auc: 0.720835
[76]	valid_0's auc: 0.721074
[77]	valid_0's auc: 0.721285
[78]	valid_0's auc: 0.72156
[79]	valid_0's auc: 0.72177
[80]	valid_0's auc: 0.72203
[81]	valid_0's auc: 0.72223
[82]	valid_0's auc: 0.722386
[83]	valid_0's auc: 0.722605
[84]	valid_0's auc: 0.722782
[85]	valid_0's auc: 0.722964
[86]	valid_0's auc: 0.723086
[87]	valid_0's auc: 0.723269
[88]	valid_0's auc: 0.723393
[89]	valid_0's auc: 0.7235
[90]	valid_0's auc: 0.7236
[91]	valid_0's auc: 0.723724
[92]	valid_0's auc: 0.723814
[93]	valid_0's auc: 0.72388
[94]	valid_0's auc: 0.723975
[95]	valid_0's auc: 0.724074
[96]	valid_0's auc: 0.724143
[97]	valid_0's auc: 0.724255
[98]	valid_0's auc: 0.724372
[99]	valid_0's auc: 0.724474
[100]	valid_0's auc: 0.724539
Did not meet early stopping. Best iteration is:
[100]	valid_0's auc: 0.724539

 Fold 2

[1]	valid_0's auc: 0.714957
Training until validation scores don't improve for 30 rounds
[2]	valid_0's auc: 0.714882
[3]	valid_0's auc: 0.715058
[4]	valid_0's auc: 0.715779
[5]	valid_0's auc: 0.717275
[6]	valid_0's auc: 0.717911
[7]	valid_0's auc: 0.719897
[8]	valid_0's auc: 0.721235
[9]	valid_0's auc: 0.72149
[10]	valid_0's auc: 0.7218
[11]	valid_0's auc: 0.721902
[12]	valid_0's auc: 0.723607
[13]	valid_0's auc: 0.724474
[14]	valid_0's auc: 0.72518
[15]	valid_0's auc: 0.725632
[16]	valid_0's auc: 0.726277
[17]	valid_0's auc: 0.726801
[18]	valid_0's auc: 0.726821
[19]	valid_0's auc: 0.727398
[20]	valid_0's auc: 0.727598
[21]	valid_0's auc: 0.72765
[22]	valid_0's auc: 0.727978
[23]	valid_0's auc: 0.728184
[24]	valid_0's auc: 0.72829
[25]	valid_0's auc: 0.728322
[26]	valid_0's auc: 0.728473
[27]	valid_0's auc: 0.728542
[28]	valid_0's auc: 0.728644
[29]	valid_0's auc: 0.728799
[30]	valid_0's auc: 0.728982
[31]	valid_0's auc: 0.729045
[32]	valid_0's auc: 0.729018
[33]	valid_0's auc: 0.729148
[34]	valid_0's auc: 0.729287
[35]	valid_0's auc: 0.72936
[36]	valid_0's auc: 0.729456
[37]	valid_0's auc: 0.729541
[38]	valid_0's auc: 0.729657
[39]	valid_0's auc: 0.729611
[40]	valid_0's auc: 0.729661
[41]	valid_0's auc: 0.729765
[42]	valid_0's auc: 0.730018
[43]	valid_0's auc: 0.73019
[44]	valid_0's auc: 0.730234
[45]	valid_0's auc: 0.730357
[46]	valid_0's auc: 0.730455
[47]	valid_0's auc: 0.73057
[48]	valid_0's auc: 0.730673
[49]	valid_0's auc: 0.73081
[50]	valid_0's auc: 0.731016
[51]	valid_0's auc: 0.731171
[52]	valid_0's auc: 0.731322
[53]	valid_0's auc: 0.731438
[54]	valid_0's auc: 0.731507
[55]	valid_0's auc: 0.731652
[56]	valid_0's auc: 0.731712
[57]	valid_0's auc: 0.731773
[58]	valid_0's auc: 0.731814
[59]	valid_0's auc: 0.731957
[60]	valid_0's auc: 0.731957
[61]	valid_0's auc: 0.73206
[62]	valid_0's auc: 0.732073
[63]	valid_0's auc: 0.732135
[64]	valid_0's auc: 0.7322
[65]	valid_0's auc: 0.732255
[66]	valid_0's auc: 0.732293
[67]	valid_0's auc: 0.732349
[68]	valid_0's auc: 0.732345
[69]	valid_0's auc: 0.732369
[70]	valid_0's auc: 0.732429
[71]	valid_0's auc: 0.732415
[72]	valid_0's auc: 0.73244
[73]	valid_0's auc: 0.732491
[74]	valid_0's auc: 0.732522
[75]	valid_0's auc: 0.732838
[76]	valid_0's auc: 0.733084
[77]	valid_0's auc: 0.73329
[78]	valid_0's auc: 0.733317
[79]	valid_0's auc: 0.733527
[80]	valid_0's auc: 0.733699
[81]	valid_0's auc: 0.733882
[82]	valid_0's auc: 0.734056
[83]	valid_0's auc: 0.734247
[84]	valid_0's auc: 0.734391
[85]	valid_0's auc: 0.734418
[86]	valid_0's auc: 0.734603
[87]	valid_0's auc: 0.734772
[88]	valid_0's auc: 0.734945
[89]	valid_0's auc: 0.735137
[90]	valid_0's auc: 0.735311
[91]	valid_0's auc: 0.735447
[92]	valid_0's auc: 0.735638
[93]	valid_0's auc: 0.735773
[94]	valid_0's auc: 0.735928
[95]	valid_0's auc: 0.735978
[96]	valid_0's auc: 0.736148
[97]	valid_0's auc: 0.736278
[98]	valid_0's auc: 0.736413
[99]	valid_0's auc: 0.736572
[100]	valid_0's auc: 0.736652
Did not meet early stopping. Best iteration is:
[100]	valid_0's auc: 0.736652

 Fold 3

[1]	valid_0's auc: 0.708142
Training until validation scores don't improve for 30 rounds
[2]	valid_0's auc: 0.708143
[3]	valid_0's auc: 0.710225
[4]	valid_0's auc: 0.711523
[5]	valid_0's auc: 0.71223
[6]	valid_0's auc: 0.712545
[7]	valid_0's auc: 0.712697
[8]	valid_0's auc: 0.712651
[9]	valid_0's auc: 0.712831
[10]	valid_0's auc: 0.712833
[11]	valid_0's auc: 0.713235
[12]	valid_0's auc: 0.71403
[13]	valid_0's auc: 0.714525
[14]	valid_0's auc: 0.714894
[15]	valid_0's auc: 0.715253
[16]	valid_0's auc: 0.715592
[17]	valid_0's auc: 0.715802
[18]	valid_0's auc: 0.716148
[19]	valid_0's auc: 0.716098
[20]	valid_0's auc: 0.716312
[21]	valid_0's auc: 0.716512
[22]	valid_0's auc: 0.716753
[23]	valid_0's auc: 0.716925
[24]	valid_0's auc: 0.717122
[25]	valid_0's auc: 0.717337
[26]	valid_0's auc: 0.71742
[27]	valid_0's auc: 0.717508
[28]	valid_0's auc: 0.717561
[29]	valid_0's auc: 0.718078
[30]	valid_0's auc: 0.718389
[31]	valid_0's auc: 0.718613
[32]	valid_0's auc: 0.718805
[33]	valid_0's auc: 0.719026
[34]	valid_0's auc: 0.719239
[35]	valid_0's auc: 0.719375
[36]	valid_0's auc: 0.719712
[37]	valid_0's auc: 0.719841
[38]	valid_0's auc: 0.720045
[39]	valid_0's auc: 0.720135
[40]	valid_0's auc: 0.720252
[41]	valid_0's auc: 0.720318
[42]	valid_0's auc: 0.7205
[43]	valid_0's auc: 0.720576
[44]	valid_0's auc: 0.720636
[45]	valid_0's auc: 0.720796
[46]	valid_0's auc: 0.720899
[47]	valid_0's auc: 0.721022
[48]	valid_0's auc: 0.721102
[49]	valid_0's auc: 0.721326
[50]	valid_0's auc: 0.721449
[51]	valid_0's auc: 0.721779
[52]	valid_0's auc: 0.72205
[53]	valid_0's auc: 0.722191
[54]	valid_0's auc: 0.722504
[55]	valid_0's auc: 0.722779
[56]	valid_0's auc: 0.723075
[57]	valid_0's auc: 0.723336
[58]	valid_0's auc: 0.72354
[59]	valid_0's auc: 0.723758
[60]	valid_0's auc: 0.724018
[61]	valid_0's auc: 0.724146
[62]	valid_0's auc: 0.724307
[63]	valid_0's auc: 0.724408
[64]	valid_0's auc: 0.724616
[65]	valid_0's auc: 0.72477
[66]	valid_0's auc: 0.724949
[67]	valid_0's auc: 0.725075
[68]	valid_0's auc: 0.725148
[69]	valid_0's auc: 0.725276
[70]	valid_0's auc: 0.725395
[71]	valid_0's auc: 0.725455
[72]	valid_0's auc: 0.725587
[73]	valid_0's auc: 0.72567
[74]	valid_0's auc: 0.725805

[75]	valid_0's auc: 0.725893
[76]	valid_0's auc: 0.726034
[77]	valid_0's auc: 0.726138
[78]	valid_0's auc: 0.726254
[79]	valid_0's auc: 0.726352
[80]	valid_0's auc: 0.726527
[81]	valid_0's auc: 0.726692
[82]	valid_0's auc: 0.72684
[83]	valid_0's auc: 0.726964
[84]	valid_0's auc: 0.72707
[85]	valid_0's auc: 0.72719
[86]	valid_0's auc: 0.727267
[87]	valid_0's auc: 0.727355
[88]	valid_0's auc: 0.727425
[89]	valid_0's auc: 0.7275
[90]	valid_0's auc: 0.72759
[91]	valid_0's auc: 0.727722
[92]	valid_0's auc: 0.727786
[93]	valid_0's auc: 0.727896
[94]	valid_0's auc: 0.727955
[95]	valid_0's auc: 0.728038
[96]	valid_0's auc: 0.728102
[97]	valid_0's auc: 0.728224
[98]	valid_0's auc: 0.728288
[99]	valid_0's auc: 0.728339
[100]	valid_0's auc: 0.728427
Did not meet early stopping. Best iteration is:
[100]	valid_0's auc: 0.728427

 Fold 4

[1]	valid_0's auc: 0.710467
Training until validation scores don't improve for 30 rounds
[2]	valid_0's auc: 0.710591
[3]	valid_0's auc: 0.711069
[4]	valid_0's auc: 0.712036
[5]	valid_0's auc: 0.712059
[6]	valid_0's auc: 0.712283
[7]	valid_0's auc: 0.713067
[8]	valid_0's auc: 0.712599
[9]	valid_0's auc: 0.714124
[10]	valid_0's auc: 0.714263
[11]	valid_0's auc: 0.714708
[12]	valid_0's auc: 0.715236
[13]	valid_0's auc: 0.716782
[14]	valid_0's auc: 0.717326
[15]	valid_0's auc: 0.717556
[16]	valid_0's auc: 0.718198
[17]	valid_0's auc: 0.718669
[18]	valid_0's auc: 0.718805
[19]	valid_0's auc: 0.71908
[20]	valid_0's auc: 0.719429
[21]	valid_0's auc: 0.720058
[22]	valid_0's auc: 0.720239
[23]	valid_0's auc: 0.720577
[24]	valid_0's auc: 0.720814
[25]	valid_0's auc: 0.721014
[26]	valid_0's auc: 0.721027
[27]	valid_0's auc: 0.721105
[28]	valid_0's auc: 0.721145
[29]	valid_0's auc: 0.721156
[30]	valid_0's auc: 0.721186
[31]	valid_0's auc: 0.721197
[32]	valid_0's auc: 0.721429
[33]	valid_0's auc: 0.721719
[34]	valid_0's auc: 0.721787
[35]	valid_0's auc: 0.721882
[36]	valid_0's auc: 0.722103
[37]	valid_0's auc: 0.722205
[38]	valid_0's auc: 0.722309
[39]	valid_0's auc: 0.722401
[40]	valid_0's auc: 0.722519
[41]	valid_0's auc: 0.722527
[42]	valid_0's auc: 0.722606
[43]	valid_0's auc: 0.722702
[44]	valid_0's auc: 0.722929
[45]	valid_0's auc: 0.723008
[46]	valid_0's auc: 0.723043
[47]	valid_0's auc: 0.723007
[48]	valid_0's auc: 0.72343
[49]	valid_0's auc: 0.723797
[50]	valid_0's auc: 0.72424
[51]	valid_0's auc: 0.724626
[52]	valid_0's auc: 0.724804
[53]	valid_0's auc: 0.725164
[54]	valid_0's auc: 0.725334
[55]	valid_0's auc: 0.725619
[56]	valid_0's auc: 0.725748
[57]	valid_0's auc: 0.726019
[58]	valid_0's auc: 0.726261
[59]	valid_0's auc: 0.726475
[60]	valid_0's auc: 0.726764
[61]	valid_0's auc: 0.72701
[62]	valid_0's auc: 0.727088
[63]	valid_0's auc: 0.727179
[64]	valid_0's auc: 0.727354
[65]	valid_0's auc: 0.727555
[66]	valid_0's auc: 0.72768
[67]	valid_0's auc: 0.72788
[68]	valid_0's auc: 0.727942
[69]	valid_0's auc: 0.728131
[70]	valid_0's auc: 0.728139
[71]	valid_0's auc: 0.72829
[72]	valid_0's auc: 0.728395
[73]	valid_0's auc: 0.728408
[74]	valid_0's auc: 0.728556
[75]	valid_0's auc: 0.728558
[76]	valid_0's auc: 0.728695
[77]	valid_0's auc: 0.728758
[78]	valid_0's auc: 0.728829
[79]	valid_0's auc: 0.728915
[80]	valid_0's auc: 0.728939
[81]	valid_0's auc: 0.729008
[82]	valid_0's auc: 0.729115
[83]	valid_0's auc: 0.729052
[84]	valid_0's auc: 0.729087
[85]	valid_0's auc: 0.729257
[86]	valid_0's auc: 0.729278
[87]	valid_0's auc: 0.729365
[88]	valid_0's auc: 0.729354
[89]	valid_0's auc: 0.729449
[90]	valid_0's auc: 0.729534
[91]	valid_0's auc: 0.729471
[92]	valid_0's auc: 0.729594
[93]	valid_0's auc: 0.729593
[94]	valid_0's auc: 0.729706
[95]	valid_0's auc: 0.729832
[96]	valid_0's auc: 0.729947
[97]	valid_0's auc: 0.730079
[98]	valid_0's auc: 0.730153
[99]	valid_0's auc: 0.730253
[100]	valid_0's auc: 0.730207
Did not meet early stopping. Best iteration is:
[99]	valid_0's auc: 0.730253

 Fold 5

[1]	valid_0's auc: 0.707438
Training until validation scores don't improve for 30 rounds
[2]	valid_0's auc: 0.707508
[3]	valid_0's auc: 0.708122
[4]	valid_0's auc: 0.709576
[5]	valid_0's auc: 0.710384
[6]	valid_0's auc: 0.711488
[7]	valid_0's auc: 0.712227
[8]	valid_0's auc: 0.712503
[9]	valid_0's auc: 0.713121
[10]	valid_0's auc: 0.713923
[11]	valid_0's auc: 0.714569
[12]	valid_0's auc: 0.714592
[13]	valid_0's auc: 0.715087
[14]	valid_0's auc: 0.715536
[15]	valid_0's auc: 0.715879
[16]	valid_0's auc: 0.71621
[17]	valid_0's auc: 0.716634
[18]	valid_0's auc: 0.716851
[19]	valid_0's auc: 0.717265
[20]	valid_0's auc: 0.71746
[21]	valid_0's auc: 0.717578
[22]	valid_0's auc: 0.717763
[23]	valid_0's auc: 0.717727
[24]	valid_0's auc: 0.717907
[25]	valid_0's auc: 0.718232
[26]	valid_0's auc: 0.718528
[27]	valid_0's auc: 0.718781
[28]	valid_0's auc: 0.719137
[29]	valid_0's auc: 0.719332
[30]	valid_0's auc: 0.719525
[31]	valid_0's auc: 0.719651
[32]	valid_0's auc: 0.719756
[33]	valid_0's auc: 0.719743
[34]	valid_0's auc: 0.719942
[35]	valid_0's auc: 0.719892
[36]	valid_0's auc: 0.71999
[37]	valid_0's auc: 0.720068
[38]	valid_0's auc: 0.7201
[39]	valid_0's auc: 0.720205
[40]	valid_0's auc: 0.720287
[41]	valid_0's auc: 0.720341
[42]	valid_0's auc: 0.720422
[43]	valid_0's auc: 0.720519
[44]	valid_0's auc: 0.720688
[45]	valid_0's auc: 0.720723
[46]	valid_0's auc: 0.720735
[47]	valid_0's auc: 0.7208
[48]	valid_0's auc: 0.720973
[49]	valid_0's auc: 0.721107
[50]	valid_0's auc: 0.721295
[51]	valid_0's auc: 0.721385
[52]	valid_0's auc: 0.721371
[53]	valid_0's auc: 0.721547
[54]	valid_0's auc: 0.721771
[55]	valid_0's auc: 0.721901
[56]	valid_0's auc: 0.722167
[57]	valid_0's auc: 0.722257
[58]	valid_0's auc: 0.722492
[59]	valid_0's auc: 0.722593
[60]	valid_0's auc: 0.722761
[61]	valid_0's auc: 0.722857
[62]	valid_0's auc: 0.723004
[63]	valid_0's auc: 0.723104
[64]	valid_0's auc: 0.723183
[65]	valid_0's auc: 0.723319
[66]	valid_0's auc: 0.723379
[67]	valid_0's auc: 0.723475
[68]	valid_0's auc: 0.723625
[69]	valid_0's auc: 0.723723
[70]	valid_0's auc: 0.723962
[71]	valid_0's auc: 0.724233
[72]	valid_0's auc: 0.724448
[73]	valid_0's auc: 0.724656
[74]	valid_0's auc: 0.724754
[75]	valid_0's auc: 0.724981
[76]	valid_0's auc: 0.72515
[77]	valid_0's auc: 0.725347
[78]	valid_0's auc: 0.725517
[79]	valid_0's auc: 0.725692
[80]	valid_0's auc: 0.725846
[81]	valid_0's auc: 0.726021
[82]	valid_0's auc: 0.726158
[83]	valid_0's auc: 0.726289
[84]	valid_0's auc: 0.726403
[85]	valid_0's auc: 0.726524
[86]	valid_0's auc: 0.726628
[87]	valid_0's auc: 0.726701
[88]	valid_0's auc: 0.726826
[89]	valid_0's auc: 0.726933
[90]	valid_0's auc: 0.727024
[91]	valid_0's auc: 0.727125
[92]	valid_0's auc: 0.727224
[93]	valid_0's auc: 0.727328
[94]	valid_0's auc: 0.727392
[95]	valid_0's auc: 0.727503
[96]	valid_0's auc: 0.727628
[97]	valid_0's auc: 0.727689
[98]	valid_0's auc: 0.727765
[99]	valid_0's auc: 0.727857
[100]	valid_0's auc: 0.727967
Did not meet early stopping. Best iteration is:
[100]	valid_0's auc: 0.727967

In [15]:
stack.head()

,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30,avg_target_by_addr_region_fact,n_missing,y_pred,target
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_16038,cat_1,66,66,cat_0,cat_3,cat_0,4,4,cat_1,cat_2,cat_3,cat_21,2,0,0,0,0,cat_0,66,66,66,cat_9,cat_13,54,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.42,0.39,1704,4581,1,0.0,0.0,0.0,366,0,0,0,0,10,False,False,False,True,1,0,0,0,0,0,0,0,0,0,False,False,0.85,0,0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,7,0.478198,0,0.517139,1
cid_5413,cat_1,37,37,cat_4,cat_5,cat_2,0,0,cat_5,cat_2,cat_3,cat_5,1,0,0,0,2,cat_0,37,37,1,cat_9,cat_9,41,8674.699219,8863.636719,8433.735352,8636.363281,8433.735352,8636.363281,8674.699219,8863.636719,7948.717773,7714.285645,0.69,0.39,201,3873,1,0.0,0.0,0.0,0,6,6,7,11,25,False,False,True,True,2,0,5,0,0,0,0,0,0,0,False,False,0.78,4,4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,7,0.558796,0,0.544178,1
cid_9724,cat_1,101,101,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_25,7,0,0,0,0,cat_1,101,101,101,cat_9,cat_15,52,7951.807129,7727.272949,7951.807129,7727.272949,7951.807129,7727.272949,7951.807129,7727.272949,5641.025879,4285.714355,0.89,0.99,58,4118,1,0.0,0.0,0.0,28,12,25,30,86,120,False,False,True,True,1,0,0,0,0,0,0,0,0,0,False,False,0.95,0,3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,7,0.527127,0,0.465175,1
cid_70476,cat_1,57,1,cat_4,cat_5,cat_2,5,5,cat_4,cat_2,cat_3,cat_23,3,0,0,0,3,cat_1,57,57,1,cat_9,cat_8,48,8674.699219,8863.636719,9638.554688,10000.000000,9638.554688,10000.000000,9638.554688,10000.000000,7948.717773,7714.285645,0.69,0.57,242,2371,1,0.0,0.0,0.0,0,16,17,18,23,73,False,False,True,True,2,1,3,0,0,0,0,0,0,0,False,False,0.89,15,15,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1159.0,0,0,0,3,0.394508,0,0.600520,1
cid_2283,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_1,cat_2,cat_3,cat_8,4,0,0,0,0,cat_0,16,16,16,cat_9,cat_13,26,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.51,0.57,39,298,1,0.0,0.0,0.0,40,3,3,3,6,6,False,False,True,True,1,0,0,0,0,0,0,0,0,0,False,False,0.89,0,0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,7,0.525827,0,0.520145,0

In [16]:
roc_auc_score_at_K(stack['y_pred'], stack['target'])

0.5517935515489982

In [30]:
quantile = 0.70

stack_filter = stack[stack['y_pred'] >= stack['y_pred'].quantile(quantile)].copy()
stack_dropped = stack[stack['y_pred'] < stack['y_pred'].quantile(quantile)].copy()

In [31]:
assert (stack_filter.shape[0] + stack_dropped.shape[0]) == X_train.shape[0]

In [32]:
X_stack = stack_filter.drop(['target', 'y_pred'], axis = 'columns')
y_stack = stack_filter['target']

In [89]:
from sklearn import model_selection

X_fit, X_val, y_fit, y_val = model_selection.train_test_split(
    X_stack, y_stack,
    random_state=42
)

import lightgbm as lgb

fit = lgb.Dataset(X_fit, y_fit)
val = lgb.Dataset(X_val, y_val, reference=fit)

parameters = {
    'learning_rate': .00001,
    'objective': 'huber',
    'metric': 'auc',
}

model = lgb.train(
    params=parameters,
    train_set=fit,
    valid_sets=[fit, val],
    valid_names=['fit', 'val'],
    early_stopping_rounds=20,
    verbose_eval=100
)

X_val['y_pred'] = model.predict(X_val)
X_val['target'] = y_val

stack_dropped['y_pred'] = model.predict(stack_dropped.drop(['y_pred','target'], axis = 'columns'))

X_val = pd.concat([X_val, stack_dropped])

Training until validation scores don't improve for 20 rounds
Early stopping, best iteration is:
[1]	fit's auc: 0.647675	val's auc: 0.595337

<ipython-input-89-307ecb2afa46>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_val['y_pred'] = model.predict(X_val)
<ipython-input-89-307ecb2afa46>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_val['target'] = y_val

In [90]:
roc_auc_score_at_K(X_val['y_pred'] , X_val['target'])

0.6707168659077197

In [88]:
test['y_pred']

card_id
cid_118162    0.722602
cid_44589     0.779436
cid_141176    0.712223
cid_64459     0.718330
cid_75129     0.786816
                ...
cid_72182     0.691596
cid_108351    0.714837
cid_13339     0.734309
cid_84761     0.671730
cid_51139     0.673743
Name: y_pred, Length: 69750, dtype: float64

In [76]:
test = X_val.copy(deep = True)

card_id
cid_118162    0.722602
cid_44589     0.779436
cid_141176    0.712223
cid_64459     0.718330
cid_75129     0.786816
                ...
cid_72182     0.691596
cid_108351    0.714837
cid_13339     0.734309
cid_84761     0.000000
cid_51139     0.000000
Name: y_pred, Length: 69750, dtype: float64

In [73]:
X_val['y_pred'].quantile(0.5)

0.6901066002608823

In [55]:
train[train['target'] == 0].shape

(45980, 93)

In [56]:
train[train['target'] == 1].shape

(44020, 93)

In [42]:
X_val['target'].sum()

29136

In [43]:
X_val.shape

(69750, 94)

In [44]:
df.shape

(90000, 91)

In [36]:
model.save_model(f'./../track_2/model.lgb')

import joblib

!rm -f ./../track_2/*.pkl

for ex in extractors:
    joblib.dump(ex, f'./../track_2/{ex}.pkl')

## Aggregate:

In [7]:
def agg(df, AGGS, fillna=None):

    features = df.copy()

    for on, by, hows in AGGS:

        agg = features.groupby(by)[on].agg(hows).reset_index()
        
        names = {
            how: f'agg_{how}_{on}_by_' + '_and_'.join(by)
            for how in hows
        }

        agg = agg.rename(columns=names)
        
        for _, name in names.items():
        
            agg[name] = agg[name].astype(np.float32)
        
        if fillna is not None:
            
            agg = agg.fillna(fillna)
        
        features = pd.merge(left = features, right = agg, how = 'left', on = by)
        
    return features

#AGGS = [
#    # on, lag, by, how
#    ('y', ['banque'], ['mean']),
#    ('y', ['user', 'banque'], ['mean']),
#    ('y', ['user'], ['mean']),
#    ('y', ['country'], ['mean']),
#]

# df = agg(df, AGGS, fillna=-1)

In [8]:
df.head()

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0.0,0.0,0.0,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,0,0,False,False,0.82,1,3,0.57,0.64,0.7,-1.0,-1.0,0.00,0.00,0.57,0.88,-1.0,0.00,0.77,0.49,0.53,0.91,0.99,-1.00,510.023529,-1.0,0,0,0,3
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2,0,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,0.0,0.0,0.0,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,0,0,False,False,0.93,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,0.0,0.0,0.0,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,0,0,False,False,0.00,0,2,0.53,0.50,0.6,-1.0,-1.0,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.99,0.97,262.654236,359.0,2,4,71,4
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,0.0,0.0,0.0,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,0,0,True,True,0.92,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,0.0,0.0,0.0,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,0,0,False,False,0.00,0,3,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7

## Target encoding

In [9]:
def target_encoding(df, by, on, m):
    
    # Compute the global mean
    mean = df[on].mean()

    # Compute the number of values and the mean of each group
    agg = df.groupby(by)[on].agg(['count', 'mean'])
    counts = agg['count']
    means = agg['mean']

    # Compute the "smoothed" means
    smooth = (counts * means + m * mean) / (counts + m)

    # Replace each value by the according smoothed mean
    return df[by].map(smooth)

#AGGS = [
#    ('y', ['banque'], 0)
#]

#for on, by, m in AGGS:
    
#    name = f'target_encoding_on_{on}_by_{"_".join(by)}'
    
#    df[name] = target_encoding(df=df, by='banque', on='y', m=0.5)

In [10]:
df.head()

,target,delivery_type,addr_region_reg,addr_region_fact,channel_name,channel_name_2,channel_name_modified_2018,sas_limit_after_003_amt,sas_limit_last_amt,clnt_education_name,clnt_marital_status_name,clnt_employment_type_name,clnt_speciality_sphere_name,clnt_income_month_avg_net_amt,clnt_expense_month_avg_amt,clnt_experience_cur_mnth,clnt_experience_cur_year,clnt_experience_total_mnth,clnt_sex_name,app_addr_region_reg,app_addr_region_fact,app_addr_region_sale,prt_name,feature_0,clnt_birth_year,addr_region_fact_encoding1,addr_region_fact_encoding2,addr_region_reg_encoding1,addr_region_reg_encoding2,app_addr_region_reg_encoding1,app_addr_region_reg_encoding2,app_addr_region_fact_encoding1,app_addr_region_fact_encoding2,app_addr_region_sale_encoding1,app_addr_region_sale_encoding2,loans_main_borrower,loans_active,last_loan_date,first_loan_date,max_overdue_status,ttl_officials,ttl_legals,ttl_bankruptcies,inquiry_recent_period,inquiry_3_month,inquiry_6_month,inquiry_9_month,inquiry_12_month,ttl_inquiries,ttl_auto_loan,ttl_mortgage,ttl_credit_card,ttl_consumer,worst_status_ever,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,fl_coborrower,fl_active_coborrower,pay_load,inquiry_1_week,inquiry_1_month,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,makro_region,fo,region,feature_30
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
cid_10620,1,cat_1,107,107,cat_0,cat_3,cat_0,1,1,cat_1,cat_4,cat_0,cat_0,3,0,0,0,0,cat_0,107,107,45,cat_9,cat_7,46,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6746.987793,7159.090820,6666.666504,6571.428711,0.88,0.78,193,2851,2,0.0,0.0,0.0,0,7,10,12,19,87,False,False,True,True,3,3,10,4,0,0,5,1,0,0,False,False,0.82,1,3,0.57,0.64,0.7,-1.0,-1.0,0.00,0.00,0.57,0.88,-1.0,0.00,0.77,0.49,0.53,0.91,0.99,-1.00,510.023529,-1.0,0,0,0,3
cid_105724,0,cat_1,9,9,cat_2,cat_5,cat_2,3,3,cat_1,cat_2,cat_3,cat_26,5,1,2,0,3,cat_1,9,9,1,cat_8,cat_9,47,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7469.879395,7500.000000,7948.717773,7714.285645,0.77,0.70,73,4288,1,0.0,0.0,0.0,58,19,28,31,43,94,True,False,True,True,2,2,5,0,0,0,0,0,0,0,False,False,0.93,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7
cid_101410,1,cat_1,109,109,cat_0,cat_3,cat_0,1,1,cat_1,cat_2,cat_3,cat_15,2,0,0,0,0,cat_0,109,109,109,cat_9,cat_10,44,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,7831.325195,8068.181641,5384.615234,5142.856934,0.51,0.00,242,1852,1,0.0,0.0,0.0,30,6,6,11,20,31,False,False,True,True,2,1,2,0,0,0,0,0,0,0,False,False,0.00,0,2,0.53,0.50,0.6,-1.0,-1.0,0.34,0.56,0.53,0.87,0.6,0.85,0.75,0.77,0.70,0.89,0.99,0.97,262.654236,359.0,2,4,71,4
cid_38961,0,cat_1,66,66,cat_0,cat_3,cat_0,3,3,cat_1,cat_2,cat_3,cat_14,2,1,0,0,0,cat_0,66,66,66,cat_9,cat_7,27,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,6746.987793,6704.545410,3076.923096,1714.285767,0.28,0.57,868,868,1,0.0,0.0,0.0,366,0,0,0,0,8,False,True,False,False,2,0,4,0,0,0,3,0,0,0,True,True,0.92,0,0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7
cid_57462,0,cat_1,16,16,cat_0,cat_3,cat_0,0,0,cat_4,cat_2,cat_3,cat_24,3,0,0,0,0,cat_0,16,16,16,cat_9,cat_13,42,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,7228.915527,7272.727051,4102.563965,3142.857178,0.28,0.00,1525,1525,1,0.0,0.0,0.0,26,4,7,8,15,33,False,False,True,False,1,0,0,0,0,0,0,0,0,0,False,False,0.00,0,3,-1.00,-1.00,-1.0,-1.0,-1.0,-1.00,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.000000,-1.0,0,0,0,7

## Step since / Step until:

In [11]:
def steps_since(df, on, fillna=None, prefix=''):

    features = pd.DataFrame(index=df.index)

    for cat in df[on].astype('category').cat.categories:
        
        counts = df[on].eq(cat).cumsum()
        
        since = counts.groupby(counts).cumcount().astype('int64')
        
        since[counts.eq(0)] = pd.NA
        
        name = f'{prefix}{on}_steps_since_{cat}'
        
        features[name] = since
        
        if fillna is not None:
            
            features[name] = features[name].fillna(fillna)

    return features

# df = df.join(steps_since(df, on='banque', fillna=-1))

In [12]:
def grouped_steps_since(df, on, by, fillna=None):
    features = pd.concat(
        steps_since(df = group, on = on, fillna = fillna, prefix = f'agg_{"_".join(by)}_')
        for index, group in df.groupby(by)
    ).sort_index()
    
    if fillna is not None:
        
        features = features.fillna(fillna)
        
    return features

# df = df.join(grouped_steps_since(df=df, on='y', by=['banque'], fillna=-1))

## Label encoding

In [13]:
categories = []

In [14]:
label_encoder = {}

for category in categories:
    
    label_encoder[category] = preprocessing.LabelEncoder()
    
    df[category] = label_encoder[category].fit_transform(df[category])

## Train test split:

In [16]:
numerical_columns = list(df.select_dtypes(include=np.number).columns)
#numerical_columns

In [18]:
X_train = df[df['test'] == False][numerical_columns]
X_test  = df[df['test'] == False][numerical_columns]

#### Columns to drop:

In [19]:
columns_to_drop = []

In [20]:
X_train.drop(columns_to_drop, axis = 'columns', inplace = True)
X_test.drop(columns_to_drop, axis = 'columns', inplace = True)

#### Extract target

In [21]:
y_train = X_train['y']
X_train.drop('y', axis = 'columns', inplace = True)
X_test.drop('y', axis = 'columns', inplace = True)

In [22]:
X_train.head()

   user
0     1
1     2
2     1
3     2
4     2

In [23]:
X_test.head()

   user
0     1
1     2
2     1
3     2
4     2

#### Metric:

In [24]:
from sklearn import metrics

def custom_metric(oof, metric, by=None):
    if by is not None:
        grouped_scores = oof.groupby(by).apply(lambda group: metric(group.y, group.y_pred))
        print(grouped_scores)
        return grouped_scores.mean()
    else:
        return metric(oof.y, oof.y_pred)

#### CV with prediction:

In [25]:
parameters = {
    'num_leaves': 31, 
    'objective': 'binary', 
    'metric': ['binary_logloss'],
    'num_leaves': 10, 
    'max_depth': - 1, 
    'learning_rate': 0.1, 
    'n_estimators': 100,
    'random_state': 42,
    'two_round': True
}

cv = model_selection.KFold(5, shuffle = True)

model = lightgbm.LGBMClassifier(**parameters)

oof = []

submission = pd.DataFrame(index=X_test.index)

feature_importance = pd.DataFrame(index=X_train.columns)

for i, (fit, val) in enumerate(cv.split(X_train, y_train)): # groups
    
    print(f'\n Fold {i+1} \n')
    
    X_fit = X_train.iloc[fit].copy()
    X_val = X_train.iloc[val].copy()
    
    y_fit = y_train.iloc[fit].copy()
    y_val = y_train.iloc[val].copy()
    
    model.fit(X_fit, y_fit, eval_set = (X_val, y_val), early_stopping_rounds = 30)
    
    y_fit = pd.DataFrame(model.predict(X_fit), index = X_fit.index, columns = ['y_pred'])
    
    y_val = pd.DataFrame(model.predict(X_val), index = X_val.index, columns = ['y_pred'])
    
    submission[f'Fold {i}'] = model.predict(X_test)
    
    oof.append(
        pd.concat([train.loc[val], y_val], axis = 'columns')
    )
    
    feature_importance[f'Fold {i}'] = model.feature_importances_
    
    # Score for each fold on validation and train set:
    scores_validation = custom_metric(
        pd.concat([train.loc[val], y_val], axis = 'columns'), 
        metric=metrics.accuracy_score, 
        #by='banque',
    ) 
    
    scores_train = custom_metric(
        pd.concat([train.loc[fit], y_fit], axis = 'columns'), 
        metric=metrics.accuracy_score, 
        #by='banque'
    ) 
    
    print(f'Scores Train: {scores_train}, score valid: {scores_validation}')
    
# Concatenate out of fold prediction:
oof = pd.concat(oof).sort_index()

# Overall score
#scores_validation = custom_metric(
#    oof, 
#    metric=metrics.accuracy_score, 
    #by='banque'
#)

#print(f'\n Validation score: {scores_validation} \n')


# Submission
submission['y_pred'] = submission.mean(axis='columns')
#submission['y_pred'] = submission.mode(axis='columns')

submission = pd.concat([test, submission['y_pred']], axis = 'columns')

 Fold 1

[1]	valid_0's binary_logloss: 0.693147
Training until validation scores don't improve for 30 rounds
[2]	valid_0's binary_logloss: 0.693147
[3]	valid_0's binary_logloss: 0.693147
[4]	valid_0's binary_logloss: 0.693147
[5]	valid_0's binary_logloss: 0.693147
[6]	valid_0's binary_logloss: 0.693147
[7]	valid_0's binary_logloss: 0.693147
[8]	valid_0's binary_logloss: 0.693147
[9]	valid_0's binary_logloss: 0.693147
[10]	valid_0's binary_logloss: 0.693147
[11]	valid_0's binary_logloss: 0.693147
[12]	valid_0's binary_logloss: 0.693147
[13]	valid_0's binary_logloss: 0.693147
[14]	valid_0's binary_logloss: 0.693147
[15]	valid_0's binary_logloss: 0.693147
[16]	valid_0's binary_logloss: 0.693147
[17]	valid_0's binary_logloss: 0.693147
[18]	valid_0's binary_logloss: 0.693147
[19]	valid_0's binary_logloss: 0.693147
[20]	valid_0's binary_logloss: 0.693147
[21]	valid_0's binary_logloss: 0.693147
[22]	valid_0's binary_logloss: 0.693147
[23]	valid_0's binary_logloss: 0.693147
[24]	valid_0's binary_logloss: 0.693147
[25]	valid_0's binary_logloss: 0.693147
[26]	valid_0's binary_logloss: 0.693147
[27]	valid_0's binary_logloss: 0.693147
[28]	valid_0's binary_logloss: 0.693147
[29]	valid_0's binary_logloss: 0.693147
[30]	valid_0's binary_logloss: 0.693147
[31]	valid_0's binary_logloss: 0.693147
Early stopping, best iteration is:
[1]	valid_0's binary_logloss: 0.693147
Scores Train: 0.5, score valid: 0.0

 Fold 2

[1]	valid_0's binary_logloss: 0.693147
Training until validation scores don't improve for 30 rounds
[2]	valid_0's binary_logloss: 0.693147
[3]	valid_0's binary_logloss: 0.693147
[4]	valid_0's binary_logloss: 0.693147
[5]	valid_0's binary_logloss: 0.693147
[6]	valid_0's binary_logloss: 0.693147
[7]	valid_0's binary_logloss: 0.693147
[8]	valid_0's binary_logloss: 0.693147
[9]	valid_0's binary_logloss: 0.693147
[10]	valid_0's binary_logloss: 0.693147
[11]	valid_0's binary_logloss: 0.693147
[12]	valid_0's binary_logloss: 0.693147
[13]	valid_0's binary_logloss: 0.693147
[14]	valid_0's binary_logloss: 0.693147
[15]	valid_0's binary_logloss: 0.693147
[16]	valid_0's binary_logloss: 0.693147
[17]	valid_0's binary_logloss: 0.693147
[18]	valid_0's binary_logloss: 0.693147
[19]	valid_0's binary_logloss: 0.693147
[20]	valid_0's binary_logloss: 0.693147
[21]	valid_0's binary_logloss: 0.693147
[22]	valid_0's binary_logloss: 0.693147
[23]	valid_0's binary_logloss: 0.693147
[24]	valid_0's binary_logloss: 0.693147
[25]	valid_0's binary_logloss: 0.693147
[26]	valid_0's binary_logloss: 0.693147
[27]	valid_0's binary_logloss: 0.693147
[28]	valid_0's binary_logloss: 0.693147
[29]	valid_0's binary_logloss: 0.693147
[30]	valid_0's binary_logloss: 0.693147
[31]	valid_0's binary_logloss: 0.693147
Early stopping, best iteration is:
[1]	valid_0's binary_logloss: 0.693147
Scores Train: 0.5, score valid: 0.0

 Fold 3

[1]	valid_0's binary_logloss: 0.693147
Training until validation scores don't improve for 30 rounds
[2]	valid_0's binary_logloss: 0.693147
[3]	valid_0's binary_logloss: 0.693147
[4]	valid_0's binary_logloss: 0.693147
[5]	valid_0's binary_logloss: 0.693147
[6]	valid_0's binary_logloss: 0.693147
[7]	valid_0's binary_logloss: 0.693147
[8]	valid_0's binary_logloss: 0.693147
[9]	valid_0's binary_logloss: 0.693147
[10]	valid_0's binary_logloss: 0.693147
[11]	valid_0's binary_logloss: 0.693147
[12]	valid_0's binary_logloss: 0.693147
[13]	valid_0's binary_logloss: 0.693147
[14]	valid_0's binary_logloss: 0.693147
[15]	valid_0's binary_logloss: 0.693147
[16]	valid_0's binary_logloss: 0.693147
[17]	valid_0's binary_logloss: 0.693147
[18]	valid_0's binary_logloss: 0.693147
[19]	valid_0's binary_logloss: 0.693147
[20]	valid_0's binary_logloss: 0.693147
[21]	valid_0's binary_logloss: 0.693147
[22]	valid_0's binary_logloss: 0.693147
[23]	valid_0's binary_logloss: 0.693147
[24]	valid_0's binary_logloss: 0.693147
[25]	valid_0's binary_logloss: 0.693147
[26]	valid_0's binary_logloss: 0.693147
[27]	valid_0's binary_logloss: 0.693147
[28]	valid_0's binary_logloss: 0.693147
[29]	valid_0's binary_logloss: 0.693147
[30]	valid_0's binary_logloss: 0.693147
[31]	valid_0's binary_logloss: 0.693147
Early stopping, best iteration is:
[1]	valid_0's binary_logloss: 0.693147
Scores Train: 0.5, score valid: 0.0

 Fold 4

[1]	valid_0's binary_logloss: 2.30259
Training until validation scores don't improve for 30 rounds
[2]	valid_0's binary_logloss: 2.30259
[3]	valid_0's binary_logloss: 2.30259
[4]	valid_0's binary_logloss: 2.30259
[5]	valid_0's binary_logloss: 2.30259
[6]	valid_0's binary_logloss: 2.30259
[7]	valid_0's binary_logloss: 2.30259
[8]	valid_0's binary_logloss: 2.30259
[9]	valid_0's binary_logloss: 2.30259
[10]	valid_0's binary_logloss: 2.30259
[11]	valid_0's binary_logloss: 2.30259
[12]	valid_0's binary_logloss: 2.30259
[13]	valid_0's binary_logloss: 2.30259
[14]	valid_0's binary_logloss: 2.30259
[15]	valid_0's binary_logloss: 2.30259
[16]	valid_0's binary_logloss: 2.30259
[17]	valid_0's binary_logloss: 2.30259
[18]	valid_0's binary_logloss: 2.30259
[19]	valid_0's binary_logloss: 2.30259
[20]	valid_0's binary_logloss: 2.30259
[21]	valid_0's binary_logloss: 2.30259
[22]	valid_0's binary_logloss: 2.30259
[23]	valid_0's binary_logloss: 2.30259
[24]	valid_0's binary_logloss: 2.30259
[25]	valid_0's binary_logloss: 2.30259
[26]	valid_0's binary_logloss: 2.30259
[27]	valid_0's binary_logloss: 2.30259
[28]	valid_0's binary_logloss: 2.30259
[29]	valid_0's binary_logloss: 2.30259
[30]	valid_0's binary_logloss: 2.30259
[31]	valid_0's binary_logloss: 2.30259
Early stopping, best iteration is:
[1]	valid_0's binary_logloss: 2.30259
Scores Train: 0.75, score valid: 0.0

 Fold 5

[1]	valid_0's binary_logloss: 2.30259
Training until validation scores don't improve for 30 rounds
[2]	valid_0's binary_logloss: 2.30259
[3]	valid_0's binary_logloss: 2.30259
[4]	valid_0's binary_logloss: 2.30259
[5]	valid_0's binary_logloss: 2.30259
[6]	valid_0's binary_logloss: 2.30259
[7]	valid_0's binary_logloss: 2.30259
[8]	valid_0's binary_logloss: 2.30259
[9]	valid_0's binary_logloss: 2.30259
[10]	valid_0's binary_logloss: 2.30259
[11]	valid_0's binary_logloss: 2.30259
[12]	valid_0's binary_logloss: 2.30259
[13]	valid_0's binary_logloss: 2.30259
[14]	valid_0's binary_logloss: 2.30259
[15]	valid_0's binary_logloss: 2.30259
[16]	valid_0's binary_logloss: 2.30259
[17]	valid_0's binary_logloss: 2.30259
[18]	valid_0's binary_logloss: 2.30259
[19]	valid_0's binary_logloss: 2.30259
[20]	valid_0's binary_logloss: 2.30259
[21]	valid_0's binary_logloss: 2.30259
[22]	valid_0's binary_logloss: 2.30259
[23]	valid_0's binary_logloss: 2.30259
[24]	valid_0's binary_logloss: 2.30259
[25]	valid_0's binary_logloss: 2.30259
[26]	valid_0's binary_logloss: 2.30259
[27]	valid_0's binary_logloss: 2.30259
[28]	valid_0's binary_logloss: 2.30259
[29]	valid_0's binary_logloss: 2.30259
[30]	valid_0's binary_logloss: 2.30259
[31]	valid_0's binary_logloss: 2.30259
Early stopping, best iteration is:
[1]	valid_0's binary_logloss: 2.30259
Scores Train: 0.75, score valid: 0.0

## Feature importance:

In [26]:
pd.DataFrame(feature_importance.mean(axis = 'columns')).sort_values(0, ascending = False).head(10)

        0
user  0.0

In [27]:
submission.head()

   user                 banque country  y  test  y_pred
0     1       Societe Generale  France  0  True     0.4
1     2        Credit Lyonnais  France  0  True     0.4
2     1  Chinese National Bank   China  1  True     0.4
3     2  Chinese National Bank   China  0  True     0.4
4     2                   QIWI  Russia  1  True     0.4

In [28]:
# If needed to rename the prediction variable:
submission.rename(columns= {'y_pred': 'prediction'})

   user                 banque country  y  test  prediction
0     1       Societe Generale  France  0  True         0.4
1     2        Credit Lyonnais  France  0  True         0.4
2     1  Chinese National Bank   China  1  True         0.4
3     2  Chinese National Bank   China  0  True         0.4
4     2                   QIWI  Russia  1  True         0.4

In [29]:
# submission[['y_pred']].to_csv(f'./submissions/submission_{scores_validation}.csv')

In [30]:
### Handle date.

### Exportation LightGBM en C.

### Exports columns to csv for embeddings computation.

### Calcul embeddings avec pipeline kaggle.

### Installation OSIRIM + google Drive

### Treelite

#### Download:

```
!python3 -m pip install --user treelite treelite_runtime
```

On Mac OSX:

```
!brew install libomp
```

#### Build from source:

```
git clone https://github.com/dmlc/treelite.git
cd treelite

mkdir build
cd build
cmake ..

Setup tools is needed to build from source

pip install -U pip setuptools

# Install treelite
cd python
python3 setup.py install --user
# Install treelite_runtime
cd ../runtime/python
python3 setup.py install --user

Set the environment variable PYTHONPATH to locate Treelite package

export PYTHONPATH=/path/to/treelite/python:/path/to/treelite/runtime/python
python3          # enter interactive session
```

In [31]:
def export_model_treelite(model, extension='so', toolchain='gcc'):
    # so for Unix and dylib for macos
    import treelite
    model.booster_.save_model('model.txt')
    treelite_model = treelite.Model.load('model.txt', model_format='lightgbm')
    treelite_model.export_lib(toolchain=toolchain, libpath=f'model.{extension}', params={'parallel_comp': 32}, verbose=True)
    
def load_model_treelite(extension='so'):
    # TARGET MACHINE
    import treelite_runtime
    return treelite_runtime.Predictor(f'model.{extension}', verbose=True)

def predict_treelite(predictor, X):
    # TARGET MACHINE
    import treelite_runtime
    batch = treelite_runtime.Batch.from_npy2d(X.values)
    return predictor.predict(batch, pred_margin=False)

#export_model_treelite(model=model, extension='so')
# predictor = load_model_treelite()
# predict_treelite(predictor, X_train)

### Temporal validation:

parameters = {
    'num_leaves': 31, 
    'objective': 'binary', 
    'metric': ['binary_logloss'],
    'num_leaves': 10, 
    'max_depth': - 1, 
    'learning_rate': 0.1, 
    'n_estimators': 100,
    'random_state': 42,
    'two_round': True
}




cv = model_selection.TimeSeriesSplit(2) 

model = lightgbm.LGBMClassifier(**parameters)

submission = pd.DataFrame(index=X_test.index)

for i, (fit, val) in enumerate(cv.split(X_train)): # groups
    
    print(f'\n Fold {i+1} \n')
    
    X_fit = X_train.loc[fit]
    X_val = X_train.loc[val]
    
    y_fit = y_train.loc[fit]
    y_val = y_train.loc[val]
    
    model.fit(X_fit, y_fit, eval_set = (X_val, y_val), early_stopping_rounds = 30)
    
    y_val = pd.DataFrame(model.predict(X_val), index = X_val.index, columns = ['y_pred'])
    
    # Overall score
    score = scores_validation = custom_metric(
        pd.concat([train.loc[val], y_val], axis = 'columns'), 
        metric=metrics.accuracy_score, 
        by='banque'
    )
    
    print(f'\n Fold {i+1} score: {score} \n')
    
    
parameters['num_boost_round'] = model._best_iteration

model.fit(X_fit, y_fit)

# Submission
submission['y_pred'] = model.predict(X_test)
submission = pd.concat([test, submission['y_pred']], axis = 'columns')